<h1>Step 3: Hardhats</h1>
<%= form_tag ppe_distribution_path, method: 'get' do %>
  <%= hidden_field_tag(:step, '3') %>
  <%= hidden_field_tag(:participant_id, @participant.id) %>
<ol>
  <li>
    <strong>Please select</strong> <%= @participant.name %>'s primary membership:<br/>
    <% @participant.organizations.each do |o| %>
        <%= radio_button_tag 'organization_id', o.id %> <%= label_tag "organization_id_#{o.id}", "#{o.name} (#{o.category_name})" %><br/>
    <% end %>
   </li>

  <% hh = @participant.hardhat_color %>
  <% if hh.blank? %>
    <li>Participant does not get a hardhat</li>
  <% else %>
    <li>Participant should get a <strong><%= hh.to_s.titleize %></strong> hardhat.</li>
  <% end %>

  <% if hh %>
  <li>
    <%= label_tag(:hardhat_search, 'Click on the search box below') %>
    <%= text_field_tag(:hardhat_search, nil, autocomplete: :off) %>
  </li>
  <li>Scan the SCC Barcode tag with the barcode reader.<br/>
    If it's not working, find the SCC Barcode number on the tag and type it in the search box above.
    Press enter on the keyboard.
  </li>
  <% end %>

  <li>Give participant safety glasses</li>
<ol>

  <% if hh.blank? %>
  <%= link_to 'Start Over', ppe_distribution_path, class: 'btn' %>
  <% end %>
<% end %>
