<%= simple_form_for @tool, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-inputs">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-6'>
          <%= f.input :tool_type_id, :as => :select, :collection => ToolType.all,
                :prompt => 'Select a tool type',
                :selected => @tool.tool_type.nil? ? '' : @tool.tool_type.id %>
        </div>
        <div>
          <%= link_to "Or create a new tool type", new_tool_type_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-sm-6'><%= f.input :barcode %></div>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-sm-6'><%= f.input :description, :height => '300px' %></div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              tools_path, :class => 'btn btn-default' %>
  </div>
<% end %>

