<% unless tool_list.empty? %>
  <table class="no-border" id="tools">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tool Name</th>
        <th>Barcode</th>
        <th>Description</th>
        <th>Checked Out To</th>
        <th>Checked Out To</th>
        <td></td>
      </tr>
    </thead>
    </tbody>
      <% tool_list.each do |tool| %>
        <tr>
          <td><%= tool.name %>
          <td><%= link_to tool.name, tool_checkouts_url(tool_id: tool) %>
          <td class="no_link"><%= tool.barcode %>
          <td class="no_link"><%= tool.description %>
          <% if tool.is_checked_out? %>
            <% if not tool.current_organization.nil? %>
              <td><%= link_to tool.current_organization.name, tool.current_organization %>
              <td><%= tool.current_organization.name %>
            <% elsif not tool.current_participant.nil? %>
              <td><%= link_to tool.current_participant.name, tool.current_participant %>
              <td><%= tool.current_participant.name %>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          <% else %>
            <td>N/A</td>
            <td></td>
          <% end %>
          <td><%= link_to "Edit", edit_tool_url(tool) %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Tools
<% end %>

