<%- model_class = Tool -%>
<div class="page-header">
  <h1>
    <%= link_to @organization.name + "'s", @organization unless @organization.blank? %>
    <%=h @title || model_class.model_name.human.pluralize %>
  </h1>
</div>

<div>
  <form action='<%= tools_path %>' method='get'>
    <div style='float: left; border: 1px solid #ccc; border-radius: 4px; padding: 6px; margin-right: 8px;'>
      <span style='font-weight: bold; margin-right: 5px'>Filter by Tool Type: </span><br />
      <select name='type_filter' onchange='this.form.submit()'>
        <%= raw("<option value='' #{params[:type_filter].present? ? '':'selected'}>All tools</option>") %>
        <%= raw("<option value='all_tools' #{param_equals_s(:type_filter, 'all_tools') ? 'selected':''}>All tools (Include hardhats/radios)</option>") %>
        <% ToolType.all.to_a.each do |tool_type| %>
          <%= raw("<option value='#{tool_type.id}' #{param_equals_i(:type_filter, tool_type.id) ? 'selected' : ''}>#{tool_type.name}</option>") %>
        <% end %>
      </select>
      </div>
    <div style='float: left; border: 1px solid #ccc; border-radius: 4px; padding: 6px; margin-right: 8px;'>
      <span style='font-weight: bold; margin-right: 5px'>Filter Checked Out Status: </span><br />
      <select name='inventory_filter' onchange='this.form.submit()'>
        <option value='' <%= @tool_type.nil? ? 'selected' : ''%> disabled>Select a tool type</option>
        <%= raw("<option value='' #{params[:inventory_filter].present? ? '':'selected'}>All</option>") %>
        <%= raw("<option value='checked_out' #{params[:inventory_filter].present? ? 'selected':''}>Checked Out Only</option>") %>
      </select>
    </div>
  </form>
  <%= link_to raw("Reset"), tools_path, :class => 'btn btn-default' %>
  <% if can?(:create, Tool) and @organization.blank? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_tool_path,
            :class => 'btn btn-primary' %>
  <% end %>
</div>
<br />
<% if @tool_type.present? && (@waitlist.present? || @num_available < 1) %>
    <div class="alert alert-info alert-inline">
      <div class="row">
        <div class="col-xs-7">
          <% if @waitlist.present? %>
            There <%= "#{@waitlist.size == 1 ? 'is' : 'are'}" %> <%= pluralize(@waitlist.size, 'person') %> waiting for <%= @title %>.
          <% else %>
            All <%= @title %> are checked out!
          <% end %>
        </div>
        <div class="col-xs-2">
          <% if @waitlist.present? %>
            <a href="#tool-type-waitlist" class="btn btn-info btn-sm" data-toggle="collapse">Show/Hide Waitlist</a>
          <% end %>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
          <%= link_to raw("<strong>Add to Waitlist</strong>"), new_tool_type_waitlist_path(@tool_type),
                      class: "btn btn-warning btn-sm" %>
        </div>
      </div>
    </div>

    <% if @waitlist.present? %>
      <div id="tool-type-waitlist" class="collapse out">
        <h3><%= @title %> Waitlist</h3>
        <%= render partial: 'tool_waitlist' %>
      </div>
    <% end %>
<% end %>
<%= render partial: 'tools', locals: {tools: @tools} %>

<%= will_paginate @tools, renderer: BootstrapPagination::Rails %>
