<h1>Tools</h1>

<div>
  <table class="no-border" id="tools">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tool Name</th>
        <th>Barcode</th>
        <th>Checked Out To</th>
        <td></td>
      </tr>
    </thead>
    </tbody>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= tool.name %>
          <td><%= link_to tool.name, tool_checkouts_url(tool_id: tool) %>
          <td class="no_link"><%= tool.barcode %>
          <% if tool.is_checked_out %>
            <% unless tool.current_organization.nil? %>
              <td><%= link_to tool.current_organization.name, tool.current_organization %>
            <% else %>
              <td><%= link_to tool.current_participant.name, tool.current_participant %>
            <% end %>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td><%= link_to "Edit", edit_tool_url(tool) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</br>
<div><%= link_to "Add a New Tool", new_tool_url %></div>
