<% update_document_title(add: 'Tools') %>
<% update_breadcrumbs(add: 'Tools') %>
<%= nav(active: 'tools') %>
<% content_for :head do %>
<script>

</script>
<% end %>

<div class="content">
  <div>
    <div class="tool-title">
    <h1>Tools</h1>
    <div>
        <%= label_tag 'type', 'Equipment Type' %>
        <%= form_tag(tools_url, method: 'get') do %>
            <%= select_tag 'type', options_for_select([["Tool", "tool"], ["Hardhat", "hardhat"], ["Radio", "radio"]], params[:type]), :onchange => "this.form.submit()" %>
        <% end %>
    </div>
    </div>
    <%= content_tag :div, data:
        { controller: 'table', config: tools_table_config } do %>
    Loading...
    <% end %>
    <div>
      <% if can?(:create, Tool) and @organization.blank? %>
        <%= link_to t('.new', default: t('helpers.links.new')),
                    new_tool_path,
                    class: 'btn btn-primary' %>
      <% end %>
    </div>
   </div><div class="sidebar">
    <%= render 'tools/checkouts/sidebar' %>
  </div>
</div>
