<h1>Tools</h1>

<div>
  <table class="no-border" id="tools">
    <thead>
      <tr>
        <th>Tool Name</th>
        <th>Barcode</th>
        <th>Checked Out To</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    </tbody>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= link_to tool.name, tool_checkouts_url(tool_id: tool) %>
          <td><%= link_to tool.barcode, tool_checkouts_url(tool_id: tool) %>
          <td><%= if tool.is_checked_out then link_to tool.current_organization.name, tool.current_organization else "N/A" end %>
          <td><%= link_to "Edit", edit_tool_url(tool) %>
          <td><%= link_to "Delete", tool, :method => :delete, :confirm => "Are you sure ?"%>
          <td>
            <% if tool.checkouts.current.empty? %>
              <%= link_to "Checkout", new_tool_checkout_url(tool_id: tool) %>
            <% else %>
              CHECKIN -- PLEASE FIX
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</br>
<div><%= link_to "Add a New Tool", new_tool_url %></div>
