<%- model_class = Tool -%>
<div class="page-header">
  <h1>
    <%= link_to @organization.name + "'s", @organization unless @organization.blank? %>
    <%=h @title || model_class.model_name.human.pluralize %>
  </h1>
</div>

<div>
  <div style='float: left; border: 1px solid #ccc; border-radius: 4px; padding: 6px; margin-right: 8px;'>
    <span style='font-weight: bold; margin-right: 5px'>Filter by Tool Type: </span>
    <form action='<%= tools_path %>' method='get'>
      <select name='tool_type_filter' onchange='this.form.submit()'>
        <option value='' <%= @tool_type.nil? ? 'selected' : ''%> disabled>Select a tool type</option>
        <% ToolType.all.to_a.each do |tool_type| %>
          <%= raw("<option value='#{tool_type.id}' #{@tool_type.present? && (@tool_type.id == tool_type.id) ? 'selected' : ''}>#{tool_type.name}</option>") %>
        <% end %>
      </select>
    </form>
  </div>
  <%= link_to raw("Tools"), tools_path, :class => 'btn btn-default' unless (params[:type].blank? && params[:tool_type_filter].blank?) or !@organization.blank? %>
  <%= link_to raw("Hardhats"), tools_path(:type => "hardhats"), :class => 'btn btn-default' unless params[:type] == 'hardhats' or !@organization.blank? %>
  <%= link_to raw("Radios"), tools_path(:type => "radios"), :class => 'btn btn-default' unless params[:type] == 'radios' or !@organization.blank? %>
  <%= link_to raw("Checked Out"), tools_path(:type => "out"), :class => 'btn btn-default' unless params[:type] == 'out' or !@organization.blank? %>
  <% if can?(:create, Tool) and @organization.blank? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_tool_path,
            :class => 'btn btn-primary' %>
  <% end %>
</div>
<br />
<% if params[:tool_type_filter].present? %>
    <div class="alert alert-info alert-inline">
      There are 2 people waiting for <%= @title %>. <a href="#tool-type-waitlist" data-toggle="collapse"><strong>Show/Hide Waitlist</strong></a>
    </div>

    <div id="tool-type-waitlist" class="collapse out">
      <h3><%= @title %> Waitlist</h3>
      <%= render partial: 'tool_waitlist' %>
    </div>
<% end %>
<%= render partial: 'tools', locals: {tools: @tools} %>

<%= will_paginate @tools, renderer: BootstrapPagination::Rails %>
