<h1><%= @title %></h1>
<h2><%= link_to "Tools", tools_url %> - <%= link_to "Radios", tools_url(:type => "radios") %> - <%= link_to "Hardhats", tools_url(:type => "hardhats") %> </h2>
<div>
<%= render :partial => 'tool_list', :object => @tools %>
</div>
</br>
<div><%= link_to "Add a New Tool", new_tool_url %></div>
