<% update_document_title(add: 'Tools') %>
<% update_document_title(add: 'New') %>
<% update_breadcrumbs(add: link_to('Tools',tools_path)) %>
<% update_breadcrumbs(add: 'New') %>
<% nav(active: 'tools') %>
<div class="content">
  <div>
  <div class="page-header>
    <h1>New Tool</h1>
    <%= form_with model: Tool.new do |f| %>
    <%= f.label :tool_type_id, 'Tool Type' %> <%= f.collection_select(:tool_type_id, ToolType.all, :id, :name) %>
    <%= f.label :description, 'Description' %> <%= f.text_field :description, placeholder: 'Optional' %>
    <%= f.label :barcode, 'Barcode' %>
    <%= f.text_field :barcode %>
    <%= submit_tag "Create Tool" %>
    <% end %>
  </div>
  </div>
</div>
    
