<% if can?(:read, @tool) %>
  <%- model_class = Tool -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
  <p>
    <strong><%= model_class.human_attribute_name(:name) %>:</strong>
    <%= @tool.name %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:barcode) %>:</strong>
    <%= @tool.barcode %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:description) %>:</strong>
    <%= @tool.description %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:is_checked_out) %>:</strong>
    <%= format_boolean(@tool.is_checked_out?) %>
  </p>
  <p>
    <% if @tool.is_checked_out? %>
      <strong>Checked out by:</strong>
      <%= link_to @tool.current_organization.name, @tool.current_organization %> <%= link_to("- " + @tool.current_participant.name, @tool.current_participant) unless @tool.current_participant.nil? %>
    <% end %>
  </p>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              tools_path, :class => 'btn'  %>
    <% if(@tool.is_checked_out?) %>
      <%= link_to t('.checkin', :default => t("helpers.links.checkin")),
                      new_tool_checkin_given_tool_path(@tool), :class => 'btn' %>
    <% else %>
      <%= link_to t('.checkout', :default => t("helpers.links.checkout")),
                      new_tool_checkout_given_tool_path(@tool), :class => 'btn' %>
    <% end %>
    <% if can?(:update, @tool) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tool_path(@tool), :class => 'btn' %>
    <% end %>
    <% if can?(:destroy, @tool) %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tool_path(@tool),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

