<h1><%= @tool.name %> - Barcode: <%= @tool.barcode %> - <%= link_to "Edit", edit_tool_url(@tool) %></h1>

<p><b>
<% if @tool.is_checked_out? %>
  <% current = @tool.checkouts.current[0] %>
  <% unless current.organization.nil? %>
  This tool is currently checked out to <%= link_to current.organization.name, current.organization %>. They have had the tool since <%= time current.checked_out_at %>.
  <% else %>
    This tool is currently checked out to <%= link_to current.participant.name, current.participant %>. They have had the tool since <%= time current.checked_out_at %>.
  <% end %>
<% else %>
  This tools is currently not checked out.
<% end %>
</b></p>

<h2>Description</h2>
<p><%= if @tool.description.blank? then "No Description" else @tool.description end %></p>

<h2>Previous Checkouts</h2>
<div id="previous_checkouts">
  <%= render partial: 'checkouts', :object => @tool.checkouts.old %>
</div>
