<%- model_class = Tool -%>
<div class="page-header">
  <h1><%= @tool.name %> <small><%= @tool.barcode %></small></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @tool.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_checked_out) %>:</strong></dt>
  <dd><%= format_boolean(@tool.is_checked_out?) %></dd>
  <% if @tool.is_checked_out? %>
    <dt><strong>Checked out by:</strong></dt>
    <dd><%= link_to @tool.current_organization.name, @tool.current_organization %> <%= link_to('- ' + @tool.current_participant.name, @tool.current_participant) unless @tool.current_participant.nil? %></dd>
		<dt><strong>Checked out at:</strong></dt>
		<dd><%= date_and_time @tool.checkouts.current.first.checked_out_at %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
          tools_path, :class => 'btn btn-default'  %>
<% if(@tool.is_checked_out?) %>
  <% if can?(:update, @tool.checkouts.current.first) %>
		<%= form_tag(tool_checkout_path(@tool, @tool.checkouts.current.first), :method => :patch, :style => "display: inline;") do -%>
			<%= hidden_field_tag 'url', tool_path(@tool) %>
                        <%= submit_tag t('.checkin', :default => t("helpers.links.checkin")), :class => 'btn btn-success' %>
	  <% end -%>
	<% end %>
<% else %>
  <% if can?(:create, Checkout) %>
    <%= link_to t('.checkout', :default => t("helpers.links.checkout")),
                    new_tool_checkout_path(@tool), :class => 'btn btn-warning' %>
  <% end %>
<% end %>

<% if can?(:update, @tool) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_tool_path(@tool), :class => 'btn btn-primary' %>
<% end %>
<% if can?(:destroy, @tool) %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          tool_path(@tool),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-danger' %>
<% end %>
<br /><br />
<div>
  <h3 style="display: inline">Waitlist for this specific tool:  #<%= @tool.barcode %></h3>
  <%= render partial: 'tool_waitlist' %>
</div>
<div>
  <h3 style="display: inline">Waitlist for other tools of this type: <%= @tool.tool_type.name %></h3>
  <%= render partial: 'tool_waitlist' %>
</div>