<% if can?(:read, @tool) %>
  <%- model_class = Tool -%>
  <div class="page-header">
    <h1><%= @tool.name %> <small><%= @tool.barcode %><small></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @tool.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:is_checked_out) %>:</strong></dt>
    <dd><%= format_boolean(@tool.is_checked_out?) %></dd>
    <% if @tool.is_checked_out? %>
      <dt><strong>Checked out by:</strong></dt>
      <dd><%= link_to @tool.current_organization.name, @tool.current_organization %> <%= link_to("- " + @tool.current_participant.name, @tool.current_participant) unless @tool.current_participant.nil? %></dd>
    <% end %>
  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
            tools_path, :class => 'btn btn-default'  %>
  <% if(@tool.is_checked_out?) %>
    <% if can?(:update, @tool.checkouts.current.first) %>
      <%= link_to t('.checkin', :default => t("helpers.links.checkin")),
                      new_tool_checkin_given_tool_path(@tool), :class => 'btn btn-primary' %>
    <% end %>
  <% else %>
    <% if can?(:create, Checkout) %>
      <%= link_to t('.checkout', :default => t("helpers.links.checkout")),
                      new_tool_checkout_given_tool_path(@tool), :class => 'btn btn-primary' %>
    <% end %>
  <% end %>

  <% if can?(:update, @tool) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_tool_path(@tool), :class => 'btn btn-primary' %>
  <% end %>
  <% if can?(:destroy, @tool) %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            tool_path(@tool),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
  <% end %>

<% else %>
  <h3>Not Authorized!</h3>
<% end %>

