<% if can?(:update, @membership) %>
  <%= simple_form_for @membership, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :organization_id, :as => :select, :label => "Organization", :collection => Organization.all.map{|o| [o.name, o.id] } %>
    <%= f.input :participant_id, :as => :select, :label => "Participant", :collection => Participant.all.map{|p| [p.andrewid, p.id] } %>
    <%= f.input :is_booth_chair %>
    <%= f.input :title %>
    <%= f.input :booth_chair_order %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                memberships_path, :class => 'btn' %>
    </div>
  <% end %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
