<%- model_class = Membership -%>
<div class="page-header">
  <h1>Add Organizations for <%= @participant.name %></h1>
</div>
<%= simple_form_for @membership, :html => { :class => 'form-horizontal' }, :url => participant_memberships_path(@participant) do |f| %>
  <%= f.hidden_field :participant_id, :value => @participant.id %>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <ul class="list-group">
        <% Organization.all.each do |organization| %>
          <li class="list-group-item">
            <% if organization.booth_chairs.include?(@participant) %>
              <%= check_box_tag 'organization_ids[]', organization.id, true, :disabled => true -%>
            <% elsif organization.participants.include?(@participant) %>
              <%= check_box_tag 'organization_ids[]', organization.id, true -%>
            <% else %>
              <%= check_box_tag 'organization_ids[]', organization.id -%>
            <% end %>
            <%= h organization.name -%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% unless @participant.user.blank? || @participant.user.roles.first.blank? %>
    <%= @participant.name %>
    is a
    <%= @participant.user.roles.first.name %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        participant_path(@participant), :class => 'btn btn-default' %>
  </div>
<% end %>