<li>
  <turbo-frame id="<%= dom_id note %>">
    <%= link_to edit_note_path(note) do %>
      <%= content_tag :h2, note.title %>
      <%= content_tag :p, note.value.truncate(85, separator: /\s/) %>
    <% end %>
  </turbo-frame>
</li>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'notes', 'data-turbo-track': 'reload' %>
<% end %>

# <div class="full-screen-note">
#   <h1><%= @note.title %></h1>
#   <p><%= @note.value %></p>
#   <%= link_to "Back to Notes", notes_path, class: "cta" %>
# </div>