<% content_for :head do %>
  <%= stylesheet_link_tag('notes', 'data-turbo-track': 'reload') %>
<% end %>

<ul class="notes">
  <% notes.each do |n| %>
    <li>
      <%= link_to note_path(n), style: "background-color: #{n.color || '#ffc'};" do %>
        <h2><%= n.title %></h2>
        <p><%= truncate(n.value, length: 85) %></p>
        <div class="note-info-icon">
          <i class="fas fa-info-circle"></i>
          <div class="note-info-tooltip">
            <p>Created by: <%= n.participant_name %></p>
            <p>Created at: <%= n.created_at.strftime("%b %d at %I:%M %p") %></p>
          </div>
        </div>
      <% end %>
      <%= link_to "DESTROY ▸", note_path(n), data: { turbo_confirm: "Are you sure?", turbo_method: :delete}, class: "cta" %>
    </li>
  <% end %>

  <li class="create-notes">
    <%= link_to "Create New Note", new_note_path, class: "cta-button create-fullscreen" %>
  </li>
</ul>
<p class="alignright">
  <%= link_to 'See all notes', notes_path, class: 'cta' %><br/>
</p>