<% if can?(:read, Faq) %>
  <%- model_class = Faq -%>
  <div class="page-header">
    <h1>FAQs</h1>
  </div>


<div class="panel-group" id="accordion">
  <% @faqs.each do |faq| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= faq.id %>">
        	<%= faq.question %>
      	</a>
			</h4>
    </div>
    <div id="collapse<%= faq.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <%= faq.answer %>
				
				<% if can?(:update, faq) or can?(:destroy, faq) %>
					<br>
	        <div align="right">
	        <% if can?(:update, faq) %>
	          <%= link_to t('.edit', :default => t("helpers.links.edit")),
	                  edit_faq_path(faq), :class => "btn btn-xs btn-primary" %>
	        <% end %> 
	        <% if can?(:destroy, faq) %>
	            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                    faq_path(faq),
	                    :method => :delete,
	                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
											:class => "btn btn-xs btn-danger" %>
	          <% end %>
	        </div>
				<% end %>
				
      </div>
    </div>
  </div>

  <% end %>
</div>


  <% if can?(:create, Faq) %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_faq_path,
            :class => 'btn btn-primary' %>
  <% end %>


  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

