<%= simple_form_for @charge, html: { class: 'form-horizontal' }, url: store_cart_checkout_path, method: :post do |f| %>
  <%#= f.input :participant_id, required: true do %>
    <%#= f.input :receiving_participant_id, as: :hidden, required: true %>
    <%#= text_field_tag 'user-card-number-input', nil, class: 'form-control', required: true %>
    <div id="user-participant-info" style="text-align: left"></div>
  <%# end %>
  <%= f.input :receiving_participant_id, required: true %>
  <%= f.collection_select :organization_id, Organization.all.ordered_by_name, :id, :name %>
  <div class="form-actions">
    <%= f.button :submit, 'Checkout', class: 'btn-primary', id: 'checkout_submit_button' %>
    <%= link_to t('.cancel', default: t('helpers.links.cancel')), store_path, class: 'btn' %>
  </div>
<% end %>
<script>
  //<![CDATA[

    Checkout.init();

  //]]>
</script>
