<% if @user.participant.is_booth_chair? %>
  <%- model_class = OrganizationList -%>
  <div class="page-header">
    <h1>
      <% if is_admin? %>
        Add Members to an Organization
      <% else %>
        Add Members to <%= @org_name %>
      <% end %>
    </h1>
  </div>

  <% if is_admin? %>
    <p>
      Select the organization you want to add a member to:
    </p>
  <% else %>
    <span> <strong>Your organization: </strong></span><%= @org_name %>
  <% end %>

  <%= form_tag add_organization_lists_path, multipart: true do%>
    <% if is_admin? %>
      <%= select_tag(:org_name, options_for_select(Organization.all.to_a.map{|o| [o.name, o.id]})) %>
    <% else %>
      <%= hidden_field_tag(:org_name, @org_id )%>
    <% end %>
    <br>  <br>
    <p>
      Enter a student's AndrewID to add the student to the org. Once the individual members log into Binder, they will be automatically added:
    </p>

    <br>
    <%= text_field_tag(:andrew_id) %>
    <%= submit_tag "Add Member", :class => "btn btn-primary" %>
  <% end %>

  <hr>

  <% if is_admin? %>
    <p>
      Select the organization you want to add members to:
    </p>
  <% end %>

  <%= form_tag import_organization_lists_path, multipart: true do %>
    <% if can?(:skip_video, @user) %>
      <%= select_tag(:org_name, options_for_select(Organization.all.to_a.map{|o| [o.name, o.id]})) %>
    <% else %>
      <%= hidden_field_tag(:org_name, @org_id )%>
    <% end %>
    <br />

    <p>
      Or, upload a .csv of your members and import the file:
    </p>

    <%= file_field_tag :file %>
    <br />
    <%= submit_tag "Import File", :class => "btn btn-primary" %>
  <% end %>

  <br />

  <p>
    The format of the .csv should look like the image below:
  </p>

  <div>
    <%= image_tag("format.png") %>
  </div>
<% else %>
  <p> You do not have access to this page! </p>
<% end %>
