<% if can?(:update, @task) %>
  <%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :due_at %>
    <%= f.input :completed_by_id %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :is_completed %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn btn-default' %>
    </div>
  <% end %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
