<div class="panel panel-default">
  <div class="panel-heading">
    <div class='row'>
    <div class='col-xs-9'>Tasks</div>
    <div class='col-xs-3'>
      <a href="#sidebar-tasks-widget" onclick='_toggleText(this, "Show", "Hide")'
         class="btn btn-info btn-xs"  data-toggle="collapse">Hide</a>
    </div>
  </div>
  </div>
  <div id='sidebar-tasks-widget' class="collapse in panel-body">
    <table class="table table-condensed" style="margin-bottom: 0;">
      <thead>
        <th>Title</th>
        <th style="text-align: right;">Due By</th>
        <th></th>
      </thead>
      <tbody>


        <% @event_list.each do |task| %>
          <% if task.color_id != "2" %>
            <tr class="sidebar-tooltip" data-toggle="tooltip" data-placement="left" title="<%=task.summary %>: <%=task.description %>">
              <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><%= task.summary %></td>
              <td style="text-align: right;"><%= task.end.date_time.strftime("%I:%M%p")%></td>

              <td>
                <%= link_to t('.complete'), task_complete_path(task.id), :method => :patch, :class => 'btn btn-xs btn-success' %>
              </td>
            </tr>
          <% end %>
        <% end %>



      </tbody>
    </table>
  </div>
</div>