<% if can?(:read, Task) %>
  <%- model_class = Task -%>
  <div class="page-header">
    <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
    </h1>
  </div>

  <div class = "row">
    <div>
      <form action='<%= tasks_path %>' method='get'>
        <div style='float: left; border: 1px solid #ccc; border-radius: 4px; padding: 10px; margin-right: 8px;'>
            <span style='font-weight: bold; margin-right: 5px'>Filter by Task Completion</span><br />
            <select name='task_filter' class='form-control' onchange='this.form.submit()'>
              <%= raw("<option value='' #{params[:task_filter].present? ? '':'selected'}>All Tasks</option>") %>
              <%= raw("<option value='completed_tasks' #{param_equals_s(:task_filter, 'completed_tasks') ? 'selected':''}>Completed Tasks</option>") %>
              <%= raw("<option value='incomplete_tasks' #{param_equals_s(:task_filter, 'incomplete_tasks') ? 'selected':''}>Incomplete Tasks</option>") %>
            </select>
        </div>
      </form>
    </div>
    <div>
      <% if can?(:create, Task) %>
        <div>
          <%= link_to t('.new', :default => t("helpers.links.New Task")),
                  new_task_path, :class => 'btn btn-primary' %>
        </div>
        <br>
      <% end %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th class="hidden-xs"><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:due_at) %></th>
        <% if can?(:update, Task) or can?(:destroy, Task) %>
          <th class="hidden-xs"><%=t '.actions', :default => t("helpers.actions") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>


      <% @event_list.items.each do |task| %>
        <tr>
          <td><%=task.summary %></td>
          <td><%=task.description %></td>
          <td><%=task.end.date_time.strftime("%D %I:%M %p") %></td>
          <td>
            <% if can?(:update, task) %>
              <!-- if the task is complete -->
              <% if task.color_id == "2" %>
                <%= link_to t('.uncomplete'), task_uncomplete_path(task.id), :method => :patch, :class => 'btn btn-xs btn-danger' %>
              <% else %>
                <%= link_to t('.complete'), task_complete_path(task.id), :method => :patch, :class => 'btn btn-xs btn-success' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

      
    </tbody>
  </table>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
