<%= simple_form_for @shift_participant do |f| %>
  <%= f.input :shift_id, :as => :hidden, :input_html => { :value => params[:shift_id] } %>
  <%= f.association :participant, :label_method => :formatted_name %>
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @shift_participant.shift, :class => 'btn btn-default' %>
  </div>
<% end %>
