<% if can?(:edit, @shift_participant) %>
  <%= simple_form_for @shift_participant, :html => { :class => 'form-horizontal' }, :url => create_shift_clock_in_path do |f| %>
    <%= f.association :shift, label_method: :formatted_name, :disabled => true, input_html: {style: 'width: auto'} %>
    <%= f.input :card_number, label: 'Participant ID Card Number' %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shifts_path, :class => 'btn' %>
    </div>
  <% end %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
