<div class="panel panel-default">
  <div class="panel-heading">
    Tool Cart
  </div>

  <div id='tc_alert' class='panel-body' style='display: none'>
    <span id='tc_alert_message'>The checkout was unsuccessful. Please try again at another time or ask someone for help.</span>
  </div>

  <div id='tc_scan_tools_action' class='panel-body'>
    <%= form_tag(tool_cart_add_tool_path, method: :post, remote: true) do %>
      <label for='tc_scan_tool'>Scan Tools</label>
      <input id='tc_scan_tool' autocomplete="off" name="barcode" type='text' style='width: 100%' />
    <% end %>
    <div id='tc_tool_list_container' style='margin-bottom: 2px; <%= @tool_cart.empty? ? raw("display: none'"): ''%>'>
      <br />
      <div class="row">
        <div class='col-xs-3'><strong>Barcode</strong></div>
        <div class='col-xs-6'><strong>Name</strong></div>
        <div class='col-xs-3'></div>
      </div>
      <div id="tc_tool_list" style="overflow: auto; max-height: 300px">
        <% @tool_cart.each do |tool| %>
          <%= render partial: 'tool_cart/tool_cart_item', locals: {tool: tool} %>
        <% end %>
      </div>
    </div>
    <br />
    <div class="btn-group" style="width: 100%">
      <%= button_tag 'Check Out', :class => "btn btn-primary cart-button", onclick: 'ToolCart.checkoutAction()'%>
      <%= link_to 'Swap', tool_cart_swap_path, method: :post, remote: true,
                     :class => "btn btn-primary cart-button", :style => "padding-top: 14px",
                     'data-toggle' => 'tooltip', 'data-placement' => 'bottom',
                     title: 'Scan one checked out tool and one checked in tool then hit swap to swap them!'%>
      <%= link_to 'Check In', tool_cart_checkin_path, method: :post, remote: true, :class => "btn btn-primary cart-button" %>
    </div>
  </div>

  <div id='tc_checkout_action' class="panel-body" style='display: none'>
    <%= form_tag tool_cart_checkout_path, method: :post, remote: true, id: 'tc_checkout_form' do %>
      <div id='tc_checkout_scan_andrewid_div'>
        <label for='tc_checkout_scan_andrewid'>Scan Andrew ID: </label>
        <input id='tc_checkout_scan_andrewid' autocomplete="off" type='text' style='width: 100%' />
      </div>

      <br />
      <div id='tc_checkout_loaded_participant_div' style='display: none'>
        <span><strong>Checkout <span id='tc_checkout_tools_count'></span> to: </strong></span><br />
        <span id='tc_checkout_loaded_participant' style='font-weight: bold; font-size: 1.4em; color: black'>Israel Madueme</span><br />
        <input id='tc_checkout_loaded_participant_id' name='participant_id' type='hidden' />

        <br />
        <label for='tc_checkout_select_organization'>Select Organization: </label>
        <select id='tc_checkout_select_organization' name='organization_id' style='width: 100%'>
        </select>
        <div id='tc_checkout_add_membership_div' style='display: none'>
          <span>Add Membership?</span>
          <input id='tc_checkout_add_membership' name='add_membership' type='checkbox' />
        </div>
      </div>

      <br />
      <%= button_tag 'Checkout Tools', class: 'btn btn-success', style: 'width: 60%' %>
      <%= button_tag 'Cancel', type: :button, onclick: 'ToolCart.scanToolsAction()', class: 'btn btn-default', style: 'width: 30%; float: right' %>
      <br style='clear: both' />
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  ToolCart.initSidebarWidget();
<% end %>