<%= simple_form_for @participant, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :andrewid, :disabled => true %>
    <%= f.input :phone_number, :as => :tel %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              participants_path, :class => 'btn btn-default' %>
  </div>
  
<% end %>

