<% if can?(:update, @participant) %>
  <%= simple_form_for @participant, :html => { :class => 'form-horizontal' }, :url => add_participant_memberships_path do |f| %>
<!--     <%= f.input :has_signed_waiver %>
    <%= f.input :has_signed_hardhat_waiver %> -->
    <%= f.input :phone_number %>
    <%= f.input :card_number, label: 'Participant ID Card Number' %>

    <p style="color: red"><strong>IMPORTANT!</strong> Do not add a new user if he/she has not completed and signed <strong>BOTH</strong> Waiver and the Hard Hat Waiver.</p>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                participants_path, :class => 'btn' %>
    </div>
  <% end %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
