<% update_document_title(add: 'People') %>
<% update_breadcrumbs(add: link_to('People', participants_path)) %>
<% update_breadcrumbs(add: @participant.name) %>
<% content_for :nav do %>
  <li><%= link_to('Organizations', organizations_path) %> </li>
  <li class="active"><%= link_to('People', participants_path) %> </li>
  <li><%= link_to('Tools', tools_path) %> </li>
  <li><%= link_to('Store', store_path) %> </li>
  <li><%= link_to('FAQ', faq_index_path) %> </li>
<% end %>

<div class="content">
  <div>
    <h1><%= @participant.name %></h1>

    <h2>Directory Information</h2>
    <p>
      <strong>EPPN:</strong> <%= @participant.eppn %><br />
      <strong>Phone:</strong> <%= @participant.formatted_phone_number %><br /> 
      <strong>Department:</strong> <%= @participant.department %><br />
      <strong>Student Class:</strong> <%= @participant.student_class %>
    </p>

    <h2>Memberships</h2>
    <% if @participant.memberships.blank? %>
    None yet.
    <% else %>
    <ul class="list-unstyled">
      <% @participant.memberships.each do |membership| %>
      <li>
        <%= link_to membership.organization.name, membership.organization %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <h2>Certifications</h2>
    <% if @participant.certifications.blank? %>
    <p>None yet.</p>
    <% else %>
    <ul class="list-unstyled">
      <% @participant.certifications.each do |cert| %>
      <li>
        <%= cert.certification_type.name %>
      </li>
      <% end %>
    </ul>
    <% end %>
    
    <h2>Tools</h2>
    <% if @participant.checkouts.current.blank? %>
    <p>No tools checked out.</p>
    <% else %>
    <ul class="list-unstyled">
      <% @participant.checkouts.current.each do |checkout| %>
      <li><%= link_to checkout.tool.formatted_name, checkout.tool %> - <%= date_and_time checkout.checked_out_at %> for <%= link_to checkout.organization.short_name, checkout.organization %></li>
      <% end %>
    </ul>
    <% end %>
</div><div class="sidebar">
  <%= render 'layouts/sidebar_defaults' %>

  <% if @participant.signed_waiver? %>
  <p class="invert green" style="padding: 1em;">
   HAS SIGNED WAIVER
  </p>
    <div>
      <h2>Wristbands</h2>
    Put the following <%= "wristband".pluralize(@participant.wristbands) %> on their wrist. <strong>Don't just give it to them!</strong>
      <% if @participant.wristbands.include? :red %>
        <p class="invert red" style="padding: 1em;">Red (Member of at least one organization that will be building)</p>
      <% end %>
      <% if @participant.wristbands.include? :blue %>
        <p class="invert blue" style="padding: 1em;">Blue (Member of no organizations that will be building)</p>
      <% end %>
      <% if @participant.wristbands.include? :green %>
        <p class="invert green" style="padding: 1em;">Green (Scissor Lift Certified)</p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
