<% if can?(:read, @participant) %>
  <%- model_class = Participant -%>
  <div class="page-header">
    <h1><%= @participant.name %> <small><%= @participant.andrewid %></small></h1>
  </div>

  <dl class="dl-horizontal">
    <% if can?(:read_phone_number, @participant) %>
      <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong>
      <dd><%= @participant.formatted_phone_number %>
    <% end %>
    <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong>
    <dd><%= @participant.department %>
    <dt><strong><%= model_class.human_attribute_name(:student_class) %>:</strong>
    <dd><%= @participant.student_class %>
    <dt><strong><%= model_class.human_attribute_name(:has_signed_waiver) %>:</strong>
    <dd><%= format_boolean(@participant.has_signed_waiver?)  %>
    <dt><strong><%= model_class.human_attribute_name(:has_signed_hardhat_waiver) %>:</strong>
    <dd><%= format_boolean(@participant.has_signed_hardhat_waiver?) %>
    <dt><strong><%= model_class.human_attribute_name(:memberships) %></strong>
    <% @memberships.each do |membership| %>
      <dd><%= link_to membership.organization_name_formatted, membership.organization %></dd>
    <% end %>

    <% if can?(:read, Role) %>
      <% unless @participant.user.blank? %>
        <dt><strong><%= model_class.human_attribute_name(:user_roles) %></strong>
        <% @participant.user.roles.each do |role| %>
          <% if can?(:read, role) %>
            <dd><%= role.name %></dd>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              participants_path, :class => 'btn btn-default' %>
  <% if can?(:update, @participant) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_participant_path(@participant), :class => 'btn btn-primary' %>
  <% end %>
  <% if can?(:create, Membership) %>
    <%= link_to t('.add membership', :default => t("helpers.links.add membership")),
              add_participant_memberships_given_participant_path(@participant), :class => 'btn btn-primary' %>
  <% end %>

  <% if can?(:destroy, @participant) %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              participant_path(@participant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>

<% else %>
  <h3>Not Authorized!</h3>
<% end %>

