<%- model_class = Organization -%>
<div class="page-header">
  <h1>Downtime</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:organization_category) %></th>
      <th>Taken</th>
      <th>Remaining</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr <%= raw("class='danger'") if organization.remaining_downtime < 0 %>>
        <td><%= link_to organization.short_name, organization_path(organization) %></td>
        <td><%= organization.organization_category.name %></td>
        <td><%= "%02d" % (organization.downtime / 60 / 60).to_i %>:<%= "%02d" % ((organization.downtime / 60) - ( (organization.downtime / 60 / 60) * 60 )).to_i %></td>
        <td><%= "%02d" % (organization.remaining_downtime / 60 / 60).to_i %>:<%= "%02d" % ((organization.remaining_downtime / 60) - ( (organization.remaining_downtime / 60 / 60) * 60 )).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>

