<%- model_class = Organization -%>
<div class="page-header">
  <h1>Downtime</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:organization_category) %></th>
      <th style="text-align: right;">Taken</th>
      <th style="text-align: right;">Remaining</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr <%= raw("class='danger'") if organization.remaining_downtime < 0 %>>
        <td><%= link_to organization.short_name, organization_downtime_index_path(organization) %></td>
        <td><%= organization.organization_category.name %></td>
        <td style="text-align: right;"><%= format_duration organization.downtime %></td>
        <td style="text-align: right;"><%= format_duration organization.remaining_downtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

