<h2>Search result for term <em>'<%= @query %>'</em> </h2>
<p class="supertiny">&nbsp;</p>

<% unless @tools.empty? %>
	<p><em><strong>Tools matching term '<%= @query %>'</strong></em></p>
	<ul>
		<% for tool in @tools do %>
			<li><%= link_to tool.formatted_name, tool_path(tool) %></li>
		<% end %>
	</ul>
	<p class="smtext">&nbsp;</p>
<% end %>

<% unless @participants.empty? %>
	<p><em><strong>Participants matching term '<%= @query %>'</strong></em></p>
	<ul>
		<% for participant in @participants do %>
			<li><%= link_to participant.formatted_name, participant %></li>
		<% end %>
	</ul>
	<p class="supertiny">&nbsp;</p>
<% end %>

<% unless @organizations.empty? and @organization_aliases.empty? %>
	<p><em><strong>Organizations matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% unless @organizations.empty? %>
      <li><em>Names matching term '<%= @query %>'</em></li>
      <ul>
        <% for organization in @organizations do %>
          <li><%= link_to organization.name, organization_path(organization) %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @organization_aliases.empty? %>
      <li><em>Aliases matching term '<%= @query %>'</em></li>
      <ul>
        <% for organization_alias in @organization_aliases do %>
          <li><%= link_to organization_alias.formatted_name, organization_alias.organization %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  <p class="supertiny">&nbsp;</p>
<% end %>

<% unless @faqs.empty? %>
	<p><em><strong>Frequently Asked Questions matching term '<%= @query %>'</strong></em></p>
	<ul>
		<% for faq in @faqs do %>
			<li><%= link_to faq.question, faq_path %><br> <%= "#{faq.answer}" %></li>
		<% end %>
	</ul>
	<p class="supertiny">&nbsp;</p>
<% end %>

