<% content_for :head do %>
  <%= stylesheet_link_tag('notes', 'data-turbo-track': 'reload') %>
<% end %>

<div class="content">
  <div>
    <%= t('welcome.html', name: Current.user.name) %>
    <%= render 'notes/stickies', notes: @notes %>

  </div><div class="sidebar">
    <%= render 'layouts/sidebar_defaults' %>
    <%= render 'organization_timeline_entries/queue_sidebar' %>
  </div>
</div>
