<div class="panel panel-default">
  <div class="panel-heading">
    <div class='row'>
      <div class='col-xs-6'>Notes</div>
      <div class='col-xs-3'>
        <%= link_to 'New', new_event_path, class: 'btn btn-primary btn-xs' %>
      </div>
      <div class='col-xs-3'>
        <a href="#sidebar-events-widget" onclick='_toggleText(this, "Show", "Hide")'
           class="btn btn-info btn-xs" data-toggle="collapse"><%= @events_sidebar.empty? ? 'Show' : 'Hide' %></a>
      </div>
    </div>
  </div>
  <div id='sidebar-events-widget' class="collapse <%= 'in' unless @events_sidebar.empty? %> panel-body">
    <table class="table table-condensed" style="margin-bottom: 0;">
      <thead>
        <th>Note</th>
        <th></th>
      </thead>
      <tbody>
        <% @events_sidebar.each do |event| %>
          <tr>
            <td><%= link_to event.description.truncate(150), event_path(event) %></td>
            <td style="text-align: right;">
              <%= link_to 'OK', approve_event_path(event), method: :post, class: 'btn btn-xs btn-success' %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
