<%= simple_form_for @shift do |f| %>
  <div class="form-inputs">
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :required_number_of_participants %>
    <%= f.input :description %>
    <%= f.association :organization %>
    <%= f.association :shift_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @shift, :class => 'btn btn-default' %>
  </div>
<% end %>
