<% if not shift_table.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Shift Type</th>
        <th>Starting Time</th>
        <th>Ending Time</th>
        <th>People Required</th>
        <th></th>
      </tr>
    </thead>
    </tbody>
      <% shift_table.each do |shift| %>
        <% if can?(:read, shift) %>
          <tr>
            <td class="no_link"><%= shift.shift_type.name %></td>
            <td class="no_link"><%= time(shift.starts_at) %></td>
            <td class="no_link"><%= time shift.ends_at %></td>
            <td class="no_link"><%= shift.required_number_of_participants %></td>
            <td><%= link_to 'Sign In/Out', shift %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Shifts to Display.
<% end %>

