<div class="panel panel-default">
  <div class="panel-heading">
    <div class='row'>
      <div class='col-xs-9'>Shifts</div>
      <div class='col-xs-3'>
        <a href="#sidebar-shifts-widget" onclick='_toggleText(this, "Show", "Hide")'
           class="btn btn-info btn-xs"  data-toggle="collapse">Hide</a>
      </div>
    </div>
  </div>
  <div id='sidebar-shifts-widget' class="collapse in panel-body">
    <table class="table table-condensed" style="margin-bottom: 5px;">
      <thead>
        <th>Current</th>
        <th style="text-align: right;">Ends at</th>
      </thead>
      <tbody>
        <% cache ['current_sidebar', @current_shifts_sidebar] do %>
          <% @current_shifts_sidebar.each do |shift| %>
            <tr class="sidebar-tooltip <%= shift.is_checked_in ? 'success' : 'danger' %>" id="" data-toggle="tooltip" data-placement="left" title="<%= shift.shift_type.name %><%=h ' - ' + shift.description + ' (' + shift.required_number_of_participants.to_s + ')'  unless shift.description.blank? %>">
              <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                <% if (shift.shift_type.name == "Coordinator Shift") %>
                  <%= link_to shift.shift_participants.first.participant.name, shift unless shift.shift_participants.blank? %>
                <% else %>
                  <%= link_to shift.organization.short_name, shift unless shift.organization.blank? %>
                  <%= link_to 'No Org Assigned', shift if shift.organization.blank? %>
                <% end %>
              </td>
              <td style="text-align: right;"><%= time shift.ends_at %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <table class="table table-condensed table-striped" style="margin-bottom: 0;">
      <thead>
        <th>Upcoming</th>
        <th style="text-align: right;">Starts at</th>
      </thead>
      <tbody>
        <% cache ['upcoming_sidebar', @upcoming_shifts_sidebar] do %>
          <% @upcoming_shifts_sidebar.each do |shift| %>
            <tr class="sidebar-tooltip <%= shift.is_checked_in ? 'success' : 'warning' %>" id="" data-toggle="tooltip" data-placement="left" title="<%= shift.shift_type.name %><%=h ' - ' + shift.description + ' (' + shift.required_number_of_participants.to_s + ')'  unless shift.description.blank? %>">
              <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                <% if (shift.shift_type.name == "Coordinator Shift") %>
                  <%= link_to shift.shift_participants.first.participant.name, shift unless shift.shift_participants.blank? %>
                <% else %>
                  <%= link_to shift.organization.short_name, shift unless shift.organization.blank? %>
                 <% end %>
              </td>
              <td style="text-align: right;"><%= time shift.starts_at %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>