<%- model_class = Shift -%>
<div class="page-header">
  <h1>
    <%= link_to @organization.name + raw("'s"), @organization unless @organization.blank? %>
    <%=h @title || model_class.model_name.human.pluralize %>
  </h1>
</div>

<p>
  <%= link_to raw("All"), shifts_path, :class => 'btn btn-default' unless params[:type].blank? or !@organization.blank? %>
  <%= link_to raw("Watch"), shifts_path(:type => "watch"), :class => 'btn btn-default' unless params[:type] == "watch" or !@organization.blank? %>
  <%= link_to raw("Security"), shifts_path(:type => "security"), :class => 'btn btn-default' unless params[:type] == "security" or !@organization.blank? %>
  <%= link_to raw("Coordinator"), shifts_path(:type => "coordinator"), :class => 'btn btn-default' unless params[:type] == "coordinator" or !@organization.blank? or !can?(:read_coord, Shift) %>
  <%= link_to "New", new_shift_path, :class => 'btn btn-primary' if can?(:create, Shift) %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% if params[:type].blank? %>
        <th><%= model_class.human_attribute_name(:type) %></th>
      <% end %>
      <th><%= model_class.human_attribute_name(:starts_at) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:ends_at) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:required_number_of_participants) %></th>
      <th>
        <% if ( @organization.blank? ) %>
          <% if ( params[:type] == "coordinator" ) %>
            SCC Member
          <% else %>
            <%= model_class.human_attribute_name(:organization) %>
          <% end %>
        <% else %>
          <%= model_class.human_attribute_name(:shift_type) %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <% if can?(:read, shift) %>
        <tr>
          <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        shift_path(shift), :class => 'btn btn-info btn-xs' %></td>
          <% if params[:type].blank? %>
            <td><%= shift.shift_type.name %></td>
          <% end %>
          <td><%= date_and_time shift.starts_at %></td>
          <td class="hidden-xs"><%= date_and_time shift.ends_at %></td>
          <td class="hidden-xs"><%= shift.required_number_of_participants %></td>
          <td>
            <% if ( @organization.blank? ) %>
              <% if ( params[:type] == "coordinator" ) %>
                <%= link_to shift.shift_participants.first.participant.name, shift.shift_participants.first.participant unless shift.shift_participants.blank? %>
              <% else %>
                <%= link_to shift.organization.short_name, shift.organization unless shift.organization.blank? %>
              <% end %>
            <% else %>
              <%= shift.shift_type.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<span class="smtext">
  <%= will_paginate @shifts, renderer: BootstrapPagination::Rails %>
</span>

