<% if can?(:read, Shift) %>
  <%- model_class = Shift -%>
  <div class="page-header">
    <h1>
      <%= link_to @organization.name + raw("'s"), @organization unless @organization.blank? %>
      <%=h @title || model_class.model_name.human.pluralize %>
    </h1>
  </div>
  
  <p>
    <%= link_to raw("All Shifts"), shifts_path, :class => 'btn btn-default' unless params[:type].blank? or !@organization.blank? %>
    <%= link_to raw("Watch Shifts"), shifts_path(:type => "watch"), :class => 'btn btn-default' unless params[:type] == "watch" or !@organization.blank? %>
    <%= link_to raw("Security Shifts"), shifts_path(:type => "security"), :class => 'btn btn-default' unless params[:type] == "security" or !@organization.blank? %>
    <%= link_to raw("Coordinator Shifts"), shifts_path(:type => "coordinator"), :class => 'btn btn-default' unless params[:type] == "coordinator" or !@organization.blank? or !can?(:read_coord, Shift) %>
  </p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= model_class.human_attribute_name(:starts_at) %></th>
        <th><%= model_class.human_attribute_name(:ends_at) %></th>
        <th><%= model_class.human_attribute_name(:required_number_of_participants) %></th>
        <th>
          <% if ( @organization.blank? ) %>
            <%= model_class.human_attribute_name(:organization) %>
          <% else %>
            <%= model_class.human_attribute_name(:shift_type) %>
          <% end %>
        </th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @shifts.each do |shift| %>
        <% if can?(:read, shift) %>
          <tr>
            <td><%= link_to t('.show', :default => t("helpers.links.show")),
                          shift_path(shift), :class => 'btn btn-info btn-xs' %></td>
            <td><%= date_and_time shift.starts_at %></td>
            <td><%= date_and_time shift.ends_at %></td>
            <td><%= shift.required_number_of_participants %></td>
            <td>
              <% if ( @organization.blank? ) %>
                <%= link_to shift.organization.name, shift.organization unless shift.organization.blank? %>
              <% else %>
                <%= shift.shift_type.name %>
              <% end %>
            </td>
            <td>
              <% if can?(:update, shift) %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_shift_path(shift), :class => 'btn btn-primary btn-xs' %>
              <% end %>
              <% if can?(:destroy, shift) %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        shift_path(shift),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <span class="smtext">
    <%= will_paginate @shifts, renderer: BootstrapPagination::Rails %>
  </span>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

