<% if can?(:read, Shift) %>
  <%- model_class = Shift -%>
  <div class="page-header">
    <h1><%=h @title || model_class.model_name.human.pluralize %></h1>
  </div>
  
  <%= link_to raw("Watch Shifts"), shifts_path, :class => 'btn btn-primary' unless @title == "Watch Shifts" %>
  <%= link_to raw("Security Shifts"), sec_shifts_index_path, :class => 'btn btn-primary' unless @title == "Security Shifts" %>
  <%= link_to raw("Coordinator Shifts"), coord_shifts_index_path, :class => 'btn btn-primary' unless @title == "Coordinator Shifts" || !can?(:read_coord, Shift) %>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= model_class.human_attribute_name(:starts_at) %></th>
        <th><%= model_class.human_attribute_name(:ends_at) %></th>
        <th><%= model_class.human_attribute_name(:required_number_of_participants) %></th>
        <th><%= model_class.human_attribute_name(:organization) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @shifts.each do |shift| %>
        <% if can?(:read, shift) %>
          <tr>
            <td><%= link_to t('.show', :default => t("helpers.links.show")),
                          shift_path(shift), :class => 'btn btn-mini' %></td>
            <td><%= date_and_time shift.starts_at %></td>
            <td><%= date_and_time shift.ends_at %></td>
            <td><%= shift.required_number_of_participants %></td>
            <td><%= link_to shift.organization.name, shift.organization unless shift.organization.blank? %></td>
            <td>
              <% if can?(:update, shift) %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_shift_path(shift), :class => 'btn btn-mini' %>
              <% end %>
              <% if can?(:destroy, shift) %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        shift_path(shift),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <span class="smtext">
    <%= will_paginate @shifts, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
  
  <% if can?(:create, Shift) %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_shift_path,
                :class => 'btn btn-primary' %>
  <% end %>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

