<% if can?(:read, @shift) %>
  <%- model_class = Shift -%>
  <div class="page-header">
    <h1><%= @shift.shift_type.name %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%=h @shift.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:starts_at) %>:</strong></dt>
    <dd><%= date_and_time(@shift.starts_at) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:ends_at) %>:</strong></dt>
    <dd><%= date_and_time(@shift.ends_at) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:required_number_of_participants) %>:</strong></dt>
    <dd><%= @shift.required_number_of_participants %></dd>
    <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
    <dd><%= unless @shift.organization.blank? then link_to(@shift.organization.name, @shift.organization) else 'N/A' end %></dd>
    <dt><strong><%= model_class.human_attribute_name(:shift_participants) %>:</strong></dt>
    <dd>
      <ul class="list-unstyled">
      <% @shift.shift_participants.each do |shift_participant| %>
          <li>
            <%= link_to shift_participant.participant.name, shift_participant.participant %>
              (Clocked in at: <%= date_and_time(shift_participant.clocked_in_at) %>) - 
              <%= link_to "Delete",
                shift_participant_path(@shift, shift_participant),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger btn-xs' %>
          </li>
        <% end %>
        <% @number_spots_left.times do %>
          <li>
            Person Not Checked In
            <% if can?(:create, ShiftParticipant ) %>
              <%= link_to t('.new_shift_participant', :default => t("helpers.links.new_shift_participant")),
                new_shift_participant_path(@shift),
                :class => 'btn btn-primary btn-xs' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              shifts_path, :class => 'btn btn-default' %>
    <% if can?(:update, @shift) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_shift_path(@shift), :class => 'btn btn-primary' %>
    <% end %>
    <% if can?(:destroy, @shift) %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              shift_path(@shift),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

