<%  @downtime_sidebar = OrganizationTimelineEntry.downtime.today.current %>
<div class="border-left"> 
  <h1>Downtime</h1>

    <% if !@downtime_sidebar.blank? %>
      <table class="table table-condensed">
        <thead>
          <th style="text-align: center;">Org</th>
          <th style="text-align: center;">Left</th>
          <th></th>
        </thead>
        <tbody>
          <% @downtime_sidebar.each do |entry| %>
            <tr <%= raw('class="danger"') if entry.organization.remaining_downtime.negative? %>>
              <td style="text-align: center;"><%= link_to entry.organization.short_name, organization_downtime_index_path(entry.organization) %></td>
              <td style="text-align: right;"><span id="countdown"><%= format_duration entry.organization.remaining_downtime %></span></td>
              <td style="text-align: right;"><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Stop', class: 'btn btn-xs btn-danger' %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="text-align: center;">No one is taking downtime!</p>
    <% end %>

    <h5><strong>Start Downtime:</strong></h5>
    <%= form_with model: OrganizationTimelineEntry.new do |f| %>
      <%#= f.input_field :organization_id, as: :select, collection: Organization.only_categories(%w[Fraternity Sorority Independent Blitz Concessions]), style: 'width: 100%' %>
      <%= f.hidden_field :organization_id, value: @organization.id %>
      <%= hidden_field_tag 'url', request.original_fullpath %>
      <%= f.submit 'Start Downtime', class: 'btn btn-primary', style: 'width: 100%' %>
    <% end %> 
</div>

