<div class="panel panel-default">
  <div class="panel-heading">
    <div class='row'>
      <div class='col-xs-9'>Downtime</div>
      <div class='col-xs-3'>
        <a href="#sidebar-downtime-widget" onclick='_toggleText(this, "Show", "Hide")'
           class="btn btn-info btn-xs"  data-toggle="collapse">Hide</a>
      </div>
    </div>
  </div>
  <div id='sidebar-downtime-widget' class="collapse panel-body">
    <table class="table table-condensed">
      <thead>
        <th style="text-align: center;">Org</th>
        <th style="text-align: right;">Left</th>
        <th></th>
      </thead>
      <tbody>
        <% @downtime_sidebar.each do |entry| %>
          <tr <%= raw('class="danger"') if entry.organization.remaining_downtime < 0 %>>
            <td style="text-align: center;"><%= link_to entry.organization.short_name, organization_downtime_index_path(entry.organization) %></td>
            <td style="text-align: right;"><span id="countdown"><%= format_remaining_downtime entry.organization.remaining_downtime %></span></td>
            <td><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Stop', class: 'btn btn-xs btn-danger' %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="width: 100%; height: 0px; clear: both; border-top: 1px solid #dddddd;"></div>
    <h5>Start Downtime:</h5>
    <%= simple_form_for OrganizationTimelineEntry.new do |f| %>
      <%= f.input_field :organization_id, :as => :select, :collection => Organization.all %>
      <div style="width: 100%; height: 5px; clear: both;"></div>
      <%= hidden_field_tag 'url', request.original_fullpath %>
      <div style="width: 100%; height: 10px; clear: both;"></div>
      <%= f.submit 'Downtime', :class => "btn btn-primary", :style => "width: 100%" %>
    <% end %>
  </div>
</div>