<% if !@structural_queue_sidebar.blank? %>
<table>
  <thead>
    <th><%= link_to 'Structural', structural_path %></th>
    <th>Reason</th>
    <th></th>
  </thead>
  <tbody>
    <% @structural_queue_sidebar.each do |entry| %>
    <tr class="sidebar-tooltip" id="" data-toggle="tooltip" data-placement="left" title="Entered at <%= date_and_time entry.started_at %>">
      <td>
        <%= link_to entry.organization.short_name, entry.organization %>
      </td>
      <td><%= entry.description %></td>
      <td>
        <%= form_tag end_organization_timeline_entry_path(entry), method: :put do %>
        <%= hidden_field_tag 'url', request.original_fullpath %>
        <%= submit_tag 'Done' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if !@electrical_queue_sidebar.blank? %>
<table>
  <thead>
    <th><%= link_to 'Electrical', electrical_path %></th>
    <th>Reason</th>
    <th></th>
  </thead>
  <tbody>
    <% @electrical_queue_sidebar.each do |entry| %>
    <tr class="sidebar-tooltip" id="" data-toggle="tooltip" data-placement="left" title="Entered at <%= date_and_time entry.started_at %>">
      <td>
        <%= link_to entry.organization.short_name, entry.organization %>
      </td>
      <td><%= entry.description %></td>
      <td>
        <%= form_tag end_organization_timeline_entry_path(entry), method: :put do %>
        <%= hidden_field_tag 'url', request.original_fullpath %>
        <%= submit_tag 'Done', class: 'btn btn-xs btn-danger' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @structural_queue_sidebar.blank? and @electrical_queue_sidebar.blank? %>
<p style="text-align: center;">No one in the queues!</p>
<% end %>

<% if Current.user.present? && Current.user.organizations.present? %>
<h1>Add to Queue</h1>
<h2>ONLY ADD YOURSELF TO THE QUEUE IF YOU'RE READY</h2>
<%= form_with model: OrganizationTimelineEntry.new do |f| %>
<%= f.collection_select :organization_id, Current.user.organizations.ordered_by_name, :id, :name %>
<%= f.text_field :description, placeholder: 'Enter reason...' %>
<%= hidden_field_tag 'url', request.original_fullpath %>
<%= f.submit 'Structural', class: 'btn wide' %>
<%= f.submit 'Electrical', class: 'btn wide ghost' %>
<% end %>
<% end %>
