<% unless entries.blank? %>
  <table class="table table-striped">
    <thead>
      <th>Org</th>
      <th>Notes</th>
      <th>Entered</th>
      <th>Wait Time</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td><%=h entry.organization.short_name %></td>
          <td><%=h entry.description%></td>
          <td><%= time entry.started_at %></td>
          <td><%= format_duration (Time.now - entry.started_at) %></td>
          <td><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Remove', class: 'btn btn-xs btn-danger' %><% end %></td>
        </tr>
        <tr>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No one in the queue! YAY!
<% end %>

