<% unless entries.blank? %>
  <table class="table table-striped">
    <thead>
      <th>Org</th>
      <th>Notes</th>
      <th>Entered</th>
      <th>Wait Time</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <% build_status = entry.organization.organization_build_statuses.find_by(status_type: entry.entry_type) %>
          <% org_link = build_status ? organization_organization_build_status_path(entry.organization, build_status) : entry.organization %>
          <td><%= link_to entry.organization.short_name, org_link %></td>
          <td><%= h entry.description %></td>
          <td><%= entry.started_at %></td>
          <td><%= format_duration(Time.zone.now - entry.started_at) %></td>
          <td>
            <% if can?(:end, entry) %>
              <%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Remove', class: 'btn btn-xs btn-danger' %><% end %>
            <% end %>
          </td>
        </tr>
        <tr>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No one in the queue! YAY!
<% end %>
