<h1>Add to Queue</h1>
<%= form_with model: OrganizationTimelineEntry.new do |f| %>
<%= f.collection_select :organization_id, Organization.all.ordered_by_name, :id, :name %>
<%= f.text_field :description, placeholder: 'Enter reason...' %>
<%= hidden_field_tag 'url', request.original_fullpath %>
<%= f.submit 'Structural', class: 'btn wide' %>
<%= f.submit 'Electrical', class: 'btn wide ghost' %>
<% end %>
