<%- model_class = OrganizationTimelineEntry -%>
<div class="page-header">
  <h1>
    <%= link_to @organization.name + raw("'s"), @organization unless @organization.blank? %>
    Downtime
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:started_at) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:ended_at) %></th>
      <th>Duration</th>
      <% if can?(:update, Task) or can?(:destroy, Task) %>
          <th class="hidden-xs"><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <% if can?(:read, entry) %>
        <tr>
          <td><%= date_and_time(entry.started_at) %></td>
          <td class="hidden-xs"><%= date_and_time entry.ended_at unless entry.ended_at.blank? %></td>
          <td><%= format_duration entry.duration %></td>
          <% if can?(:update, OrganizationTimelineEntry) or can?(:destroy, OrganizationTimelineEntry) %>
            <td class="hidden-xs">
              <% if can?(:update, OrganizationTimelineEntry) %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_downtime_path(entry), :class => 'btn btn-xs btn-primary' %>
              <% end %>
              <% if can?(:destroy, OrganizationTimelineEntry) %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        downtime_path(entry),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Remaining:</th>
      <td class="hidden-xs"></td>
      <th><%= format_duration(@organization.remaining_downtime) %></th>
      <td class="hidden-xs"></td>
    </tr>
  </tfoot>
</table>
