<%= simple_form_for @document, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
	<div class="form-inputs">
    <%= f.input :name %>
		<%= f.input :public %>
		<%= f.association :organization %>
	  <% if(!(params[:action] == 'edit')) %>
      <%= f.input :url, as: :file, label: "File" %>
	  <% end %>
	</div>
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), documents_path, :class => 'btn btn-default' %>
  </div>
<% end %>
