<h1>Select Organization <small>(<%= @tool.name %> for <%= @participant.name %>)</small></h1>
<% @participant.organizations.each do |organization| %>
	<%= form_tag tool_checkouts_path(@tool), :style => "display: inline;" do -%>
		<%= hidden_field_tag 'participant_id', @participant.id %>
		<%= hidden_field_tag 'organization_id', organization.id %>
	  <%= submit_tag organization.name, :class => 'btn btn-primary' %>
	<% end -%>
		<br><br>
<% end %>