<% if can?(:read, Checkout) %>
  <%- model_class = Checkout -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:tool) %></th>
        <th><%= model_class.human_attribute_name(:checked_out_at) %></th>
        <th><%= model_class.human_attribute_name(:checked_in_at) %></th>
        <th><%= model_class.human_attribute_name(:participant_id) %></th>
        <th><%= model_class.human_attribute_name(:organization_id) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @checkouts.each do |checkout| %>
        <% if can?(:read, checkout) %>
          <tr>
            <td><%= link_to checkout.id, checkout_path(checkout) %></td>
            <td><%= checkout.tool.name %></td>
            <td><%= date_and_time(checkout.checked_out_at) unless checkout.checked_out_at.nil? %></td>
            <td><%= date_and_time(checkout.checked_in_at) unless checkout.checked_in_at.nil? %></td>
            <td><%= checkout.participant.andrewid unless checkout.participant.nil? %></td>
            <td><%= checkout.organization.name unless checkout.organization.nil?%></td>
            <td>
              <% if can?(:update, checkout) %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_checkout_path(checkout), :class => 'btn btn-xs' %>
              <% end %>
              <% if can?(:destroy, checkout) %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      checkout_path(checkout),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if can?(:create, Checkout) %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_checkout_path,
            :class => 'btn btn-primary' %>
  <% end %>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

