<%= simple_form_for [@organization, @organization_status], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-inputs">
    <div class = "row">
      <div class = "col-md-8" style="margin-left:73px">
      </div>
    </div>
    <%= f.association :organization_status_type, style: "margin-left:80px" %>
    <%= f.input :organization_id, :as => :hidden %>
    <%= f.input :description, :as => :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @organization, :class => 'btn btn-default' %>
  </div>
<% end %>

