<%= simple_form_for '', :html => { :class => 'form-horizontal' }, :url => tool_type_waitlists_path(@tool_type) do |f| %>
	<%= f.input :tool_type_id, :as => :hidden %>
  <%= f.input :participant_id, required: true do %>
    <%= f.input_field :participant_id, as: :hidden, required: true %>
    <%= text_field_tag 'user-card-number-input', nil, class: 'form-control', required: true %>
    <div id="user-participant-info"></div>
  <% end %>
  <%= f.input :note, :required => false %>

  <div id="org_name_div" class="form-group" style="margin-left:70px; display: none">
    <label for="org_name" class="col-sm-2 control-label">Choose Organization</label>
    <div class="col-sm-10">
      <select class="form-control" id="org_name" name="organization_id">
      </select>
    </div>
  </div>
  <div id="add_to_org_div" class="form-group" style="display: none">
    <div class="col-sm-offset-2 col-sm-offset-3">
      <input type="checkbox" id="add_to_org" name="add_membership" /> Add membership?
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add to waitlist", :class => 'btn-primary', :style => 'display: none', 
    :id => 'checkout_submit_button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              @tool, :class => 'btn btn-default' %>
  </div>
<% end %>

<%= javascript_tag do %>
  Checkout.init();
<% end %>