<div class="page-header">
  <h1>Select Organization
    <small>(Adding <%= @participant.name %> to waitlist for <%= @tool_type.name.pluralize %> for )</small>
  </h1>
</div>

<h2>Current Orgs</h2>
<br />
<% @participant.organizations.each do |organization| %>
  <p>
  	<%= form_tag tool_type_waitlists_path(@tool_type), :style => "display: inline;" do -%>
  		<%= hidden_field_tag 'participant_id', @participant.id %>
      <%= hidden_field_tag 'note', @note %>
  		<%= hidden_field_tag 'organization_id', organization.id %>
  	  <%= submit_tag organization.name, :class => 'btn btn-success' %>
  	<% end -%>
  </p>
<% end %>
<br />
<h2>Other Orgs</h2>
<%= simple_form_for '', url: tool_type_waitlists_path(@tool_type) do |f| %>
  <%= f.input :participant_id, :input_html => { :value => @participant.id }, :as => :hidden %>
  <%= f.input :note, :input_html => { :value => @note}, :as => :hidden %>
  <%= f.input :organization_id, :as => :select, :collection => Organization.all %>
  <%= f.input 'add', :label => "Add Membership", :as => :boolean %>
  <%= submit_tag "Submit", :class => 'btn btn-primary' %>
<% end -%>
