<%=
  form_with( model: participant,
             url: participant_waiver_path(participant)) do |form|
%>
  <div>
    <%= form.check_box :signed_waiver %>
    <%=
      form.label :signed_waiver,
                 'I have read this release and understand it' \
                   'and I voluntarily agree to all its provisions'
    %>
    <%=
      content_tag(
        :div,
        participant.errors[:signed_waiver].join(', '),
        role: 'alert',
      )
    %>
  </div>
  <div>
    <%= form.check_box :adult %>
    <%= form.label :adult, 'I am 18 years of age or older' %>
    <%=
      content_tag(:div, participant.errors[:adult].join(', '), role: 'alert')
    %>
  </div>

  <p>
    All Spring Carnival participants must provide their cell phone number, which
    will be enrolled in the emergency alert system.
  </p>

  <div>
    <%= form.label :phone_number, 'Your cell phone number' %>
    <%=
      content_tag(
        :div,
        participant.errors[:phone_number].join(', '),
        role: 'alert',
      )
    %>
    <%= form.telephone_field :phone_number, autocomplete: 'tel' %>
  </div>

  <p>
    By typing your full name below, you are digitally signing this document.
  </p>
  <div>
    <%= form.label :name_confirmation, 'Your full name' %>
    <%=
      content_tag(
        :div,
        participant.errors[:name_confirmation].join(', '),
        role: 'alert',
      )
    %>
    <%= form.text_field :name_confirmation %>
  </div>

  <%# TODO: Turbo %>
  <div>
    <%=
      form.submit 'Submit Waiver', class: 'btn wide', data: { turbo: 'false' }
    %>
    <%=
      link_to t('.cancel'), participant_path(@participant), class: 'btn ghost'
    %>
  </div>
<% end %>
