<% update_document_title(add: 'People') %>
<% update_breadcrumbs(add: link_to('People', participants_path)) %>
<% update_breadcrumbs(add: link_to(@participant.name, @participant)) %>
<% update_breadcrumbs(add: 'Waiver') %>
<% nav(active: 'participants') %>

<div class="content wide">
  <div>
    <h1>
      <%= Time.zone.now.year %> Spring Carnival Midway Release of Liability
    </h1>

    <p>
      I, <strong><%= @participant.name %></strong>, want to participate in
      Carnegie Mellon University (“CMU”) <%= Time.zone.now.year %> Spring
      Carnival Midway construction activities and/or be present on the Midway
      construction site (collectively, the “Activities.”) I understand that the
      Activities may involve climbing, crawling, physical exertion, the use of
      and/or proximity to hand and power tools and construction materials and
      equipment.
    </p>
    <p>
      I understand that there are risks (including, but not limited to, the risk
      of injury, disability, death, contracting COVID-19 which is spread by
      interpersonal contact) associated with my participation in the Activities.
      I voluntarily assume all the risks. In consideration of the benefits of
      participation in the Activities, I hereby, on behalf of myself and those
      acting on my behalf, irrevocably and unconditionally release, waive and
      promise not to sue CMU from/for any and all liabilities, losses, injuries,
      damages, claims, demands, actions and/or causes of action related to my
      participation in the Activities, including contracting COVID-19, and the
      securing of, or failure to secure, medical treatment for me.
    </p>
    <p>
      The laws of Pennsylvania shall apply to this Release. If any of its
      provisions are declared illegal, unenforceable or ineffective, they shall
      be deemed severable and all other provisions shall remain valid and
      binding. I am an adult (18 years of age or older).
    </p>

    <% if @participant.signed_waiver? %>
      <strong><%= @participant.name %> has signed the waiver.</strong>
    <% else %>
      <%= render 'form', participant: @participant %>
    <% end %>
  </div>
</div>
