<tr>
  <td><%= link_to organization.name, organization_path(organization) %></td>
  <% if can?(:read, OrganizationStatus) %>
    <td>
      <% if !organization.organization_category.is_building %>
        &mdash;
      <% elsif can?(:read, organization.organization_statuses.displayable.electrical.last) %>
        <%= link_to organization.organization_statuses.displayable.electrical.last.organization_status_type.name, [organization, :organization_statuses] unless organization.organization_statuses.displayable.electrical.blank? %>
      <% end %>
    </td>
    <td>
      <% if !organization.organization_category.is_building %>
        &mdash;
      <% elsif can?(:read, organization.organization_statuses.displayable.structural.last) %>
        <%= link_to organization.organization_statuses.displayable.structural.last.organization_status_type.name, [organization, :organization_statuses] unless organization.organization_statuses.displayable.structural.blank? %>
      <% end %>
    </td>
        <td>
      <% if !organization.organization_category.is_building %>
        &mdash;
      <% elsif can?(:read, organization.organization_statuses.displayable.general.last) %>
        <%= link_to organization.organization_statuses.displayable.general.last.organization_status_type.name, [organization, :organization_statuses] unless organization.organization_statuses.displayable.general.blank? %>
      <% end %>
    </td>
  <% end %>
  <td><%= organization.organization_category.name %></td>
</tr>
