<h1><%= @organization.name %></h1>

<h2>Booth Chairs</h2>
<div id="chairs">
  <%= render :partial => 'participants/organization_booth_chair_list', :object => @booth_chairs %>
</div>

<h2>Tools Checked Out - <%= link_to_function "Toggle", "$('#tools').toggle()" %></h2>
<div id="tools" style="display: none;">
  <%= render :partial => "checkouts/organization_checkout_list", :object => @checkouts %>
</div>

<h2>Members - <%= link_to_function "Toggle", "$('#members').toggle(); $('#organization_participant_list').dataTable();" %></h2>
<div id="members" style="display: none;">
  <%= render :partial => 'participants/organization_participant_list', :object => @members %>
</div>

<h2>Charges - <%= link_to_function "Toggle", "$('#charges').toggle()" %></h2>
<div id="charges" style="display: none;">
  <%= render :partial => "charges/organization_charge_list", :object => @charges %>
</div>
