
<div class="row-fluid">
	<div class="span8">
		
		<%= link_to_function "Tools Checked Out", "$('#tools').toggle()", :class => 'btn btn-large'%>
		<div id="tools" style="display: none;">
		  <%= render :partial => "tools/organization_tool_list", :object => @tools %>
		</div>

		<h3><%= link_to_function "Charges", "$('#charges').toggle()", :class => 'btn btn-large' %></h3>
		<div id="charges" style="display: none;">
		  <%= render :partial => "charges/organization_charge_list", :object => @charges %>
		</div>

		<h3><%= link_to_function "Shifts", "$('#shifts').toggle()", :class => 'btn btn-large' %></h3>
		<div id="shifts" style="display: none;">
		  <%= render :partial => "shifts/shift_table.html.erb", :object => @shifts %>
		</div>

		<h3><%= link_to_function "Hardhats", "$('#hardhats').toggle()", :class => 'btn btn-large' %></h3>
		<div id="hardhats" style="display: none;">
		  <%= render :partial => "tools/organization_tool_list", :object => @hardhats %>
		</div>

	</div>
	<div class="span4">
		<h4>Booth Chairs</h4>
		<div id="chairs">
		  <%= render :partial => 'participants/organization_booth_chair_list', :object => @booth_chairs %>
		</div>
	</div>


</div>


	<h3><%= link_to_function "Members", "$('#members').toggle(); $('#organization_participant_list').dataTable();", :class => 'btn btn-large' %></h3>
	<div id="members" style="display: none;">
		  <%= render :partial => 'participants/participant_list', :object => @members %>
	</div>


