<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<p>
  <%= link_to raw("All"), organizations_path, :class => 'btn btn-default' unless params[:type].blank? %>
  <%= link_to raw("Building"), organizations_path(:type => "building"), :class => 'btn btn-default' unless params[:type] == "building" %>
  <%= link_to "New", new_organization_path, :class => 'btn btn-primary' if can?(:create, Organization) %>
</p>

<%= render partial: 'organizations', locals: {organizations: @organizations} %>
