<% update_document_title(add: 'Organizations') %>
<% update_breadcrumbs(add: 'Organizations') %>
<% content_for :nav do %>
  <li class="active"><%= link_to('Organizations', organizations_path) %> </li>
  <li><%= link_to('People', participants_path) %> </li>
  <li><%= link_to('Tools', tools_path) %> </li>
  <li><%= link_to('Store', store_path) %> </li>
  <li ><%= link_to('FAQ', faq_index_path) %> </li>
<% end %>


<div class="content">
  <p>
    <%= link_to raw('All'), organizations_path, class: 'btn btn-default' if params[:type].present? %>
    <%= link_to raw('Building'), organizations_path(type: 'building'), class: 'btn btn-default' unless params[:type] == 'building' %>
    <%= link_to 'New', new_organization_path, class: 'btn btn-primary' if can?(:create, Organization) %>
  </p>
  <%= render partial: 'organizations', locals: { organizations: @organizations } %>
</div>
