<% update_document_title(add: 'Organizations') %>
<% update_breadcrumbs(add: link_to('Organizations', organizations_path)) %>
<% update_breadcrumbs(add: @organization.name) %>
<% nav(active: 'organizations') %>
<div class="content">
  <div>
    <h1><%= @organization.name %></h1>
    <% if @structural %>
      <h2>Structural Progress</h2>
        <%= link_to("Structural Progress", organization_organization_build_status_path(@organization, @structural)) %>
    <% end %>
    <% if @electrical %>
      <h2>Electrical Progress</h2>
        <%= link_to("Electrical Progress", organization_organization_build_status_path(@organization, @electrical)) %>
    <% end %>
    <%= render partial: "show_org"%> 
  </div><div class="sidebar">
    <%= link_to "Add Members", new_organization_membership_path(@organization), class: "btn wide" %>
    <% if @tools_checked_out.length() == 0 %>
      <h2>No Tools Checked Out!</h2>
    <% else %>
      <h2 style="padding-bottom: 0px">Tools Checked Out:</h2>
      <ul>
        <% @tools_checked_out.each do |tool| %>
          <li>
            <%= link_to(tool.name, "/tools/#{tool.id}") %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @participants.length() == 0 %>
      <h2>No Members!</h2>
    <% else %>
      <h2 style="padding-bottom: 0px">Builders:</h2>
      <ul>
        <% @participants.each do |participant| %>
          <li>
            <%= link_to(participant.name, participant_path(participant)) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
</div>