<% update_document_title(add: 'Organizations') %>
<% update_breadcrumbs(add: link_to('Organizations', organizations_path)) %>
<% update_breadcrumbs(add: @organization.name) %>
<% content_for :nav do %>
  <li class="active"><%= link_to('Organizations', organizations_path) %> </li>
  <li><%= link_to('People', participants_path) %> </li>
  <li><%= link_to('Tools', tools_path) %> </li>
  <li><%= link_to('Store', store_path) %> </li>
  <li ><%= link_to('FAQ', faq_index_path) %> </li>
<% end %>
<div class="content">
  <div>
    <h1><%= @organization.name %></h1>
  </div><div class="sidebar">
  </div>
</div>
