<% update_document_title(add: 'Organizations') %>
<% update_breadcrumbs(add: link_to('Organizations', organizations_path)) %>
<% update_breadcrumbs(add: @organization.name) %>
<% nav(active: 'organizations') %>
<div class="content">
  <div>
    <h1><%= @organization.name %></h1>
    <% if @structural %>
      <h2>Structural Progress</h2>
        <%= link_to("Structural Progress", organization_organization_build_status_path(@organization, @structural)) %>
    <% end %>
    <% if @electrical %>
      <h2>Electrical Progress</h2>
        <%= link_to("Electrical Progress", organization_organization_build_status_path(@organization, @electrical)) %>
    <% end %>

    <hr>

    <h2 class="collapsed">Tools (<%= @tools_checked_out.length() %>)</h2>
    <div style="display: none">
      <% if @tools_checked_out.length() == 0 %>
        <p>No Tools Checked Out!</p>
      <% else %>
        <ul>
          <% @tools_checked_out.each do |tool| %>
            <li>
              <%= link_to("#{tool.name} (#{tool.id})", "/tools/#{tool.id}") %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <!-- render partial: "show_org" -->

  </div><div class="sidebar">
    <%= link_to "Add Members", new_organization_membership_path(@organization), class: "btn wide" %>
    
    <h2 class="collapsed" style="margin-bottom: 0px">Booth Chairs (<%= @booth_chairs.length() %>)</h2>
    <div style="display: none; padding-top: 0px">
      <% if @booth_chairs.length() == 0 %>
        <p>No Booth Chairs!</p>
      <% else %>
        <ul>
          <% @booth_chairs.each do |booth_chair| %>
            <li>
              <%= link_to(booth_chair.name, participant_path(booth_chair)) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <h2 class="collapsed" style="padding-top: 0px">Builders (<%= @non_booth_chairs.length() %>)</h2>
    <div style="display: none; padding-top: 0px">
      <% if @non_booth_chairs.length() == 0 %>
      <p>No Builders!</p>
      <% else %>
      <ul>
        <% @non_booth_chairs.each do |builder| %>
          <li>
            <%= link_to(builder.name, participant_path(builder)) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>

    </div>
</div>