<h3>What is being returned?</h3>
<%= form_tag checkin_tools_path do %>
  <%= hidden_field_tag :focus, 'checkin_barcode' %>
  <%= label_tag(:checkin_barcode, 'Scan or Type Tool Barcode [Enter]') %>
  <%= text_field_tag(
        :barcode,
        nil,
        id: 'checkin_barcode',
        autocomplete: :off,
        autofocus: params[:focus] == 'checkin_barcode'
      ) %>
<% end %>

<% if session[:checkin_summary].present? %>
  <%= debug session[:checkin_summary] %>
  <% summary = session[:checkin_summary] %>
  <p
    >Returning
    <strong><%= summary['name'] %> </strong> #<%= summary['barcode'] %></p
  >
  <p
    ><%= summary['org'] %> will have
    <strong><%= summary['remaining'] %></strong> remaining checked out</p
  >
<% end %>
