<h3>The Tool</h3>
<ul>
  <% session[:tools] = [] if session[:tools].blank? %>
  <% session[:tools].each do |tool_id| %>
    <% t = Tool.find(tool_id) %>
    <li
      ><strong><%= t.name %></strong> #<%= t.barcode %>&nbsp;&nbsp;
      <%= link_to 'Remove', remove_tool_path(t), class: 'cta' %></li
    >
  <% end %>
</ul>
<%= form_tag add_tools_path do %>
  <%= hidden_field_tag :url, params[:url] %>
  <%= label_tag(:barcode, 'Scan or Type Tool Barcode [Enter]') %>
  <%= text_field_tag(:barcode, nil, autocomplete: :off, autofocus: true) %>
<% end %>

<h3>The Borrower</h3>
<% if session[:borrower_id].present? %>
  <% borrower = Participant.find(session[:borrower_id]) %>
  <%= form_tag checkout_tools_path,
               data:
                 borrower.organizations.one? ? {} : { controller: 'org-summary' } do %>
    <h3><%= borrower.name %> (<%= borrower.eppn %>)</h3>
    <% if borrower.organizations.one? %>
      <p><%= borrower.organizations.first.name %></p>
      <%= hidden_field_tag 'checkout[organization_id]', borrower.organizations.first.id %>
    <% else %>
      <%= collection_select(
            :checkout,
            :organization_id,
            borrower.organizations,
            :id,
            :name,
            { include_blank: 'Select an organization...' },
            {
              data: {
                'org-summary-target': 'select',
                action: 'change->org-summary#update',
              },
            },
          ) %>
      <div
        data-org-summary-target="summary"
        style="display:none; margin: 10px 0;"
      >
        <h5>Your Org Checkout Status:</h5>
        <ul data-org-summary-target="list"></ul>
      </div>
    <% end %>
    <%= submit_tag 'Complete Checkout', class: 'wide' %>
  <% end %>
<% else %>
  <%= form_tag checkout_participant_tools_path do %>
    <%= label_tag(:participant_search, 'Tap/Swipe/Type Andrew ID [Enter]') %>
    <%= text_field_tag(:participant_search, nil, autocomplete: :off, autofocus: true) %>
  <% end %>
<% end %>
<p class="alignright"><%= link_to 'Reset', reset_tools_path, class: 'cta' %></p>
