<h1>CarnivalCreation#showDiff</h1>
<h2>TO ADD:</h2>
<h3>Organizations</h3>
<% @organization_adds.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Participants</h3>
<% @participant_adds.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Memberships</h3>
<% @membership_adds.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Tools</h3>
<% @tool_adds.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h2>TO DEACTIVATE</h2>
<h3>Organizations</h3>
<% @organization_deactivations.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Participants</h3>
<% @participant_deactivations.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Memberships</h3>
<% @membership_deactivations.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<h3>Tools</h3>
<% @tool_deactivations.each do |e| %>
  <p> <%= e %> </p>
<% end %>

<%= form_tag("/create_carnival/commit_changes", method: 'post') do %>
  <%= submit_tag("Commit changes to DB") %>
<% end %>
