<div class = "card bg-light">

  <h1>Create a New Carnival</h1><br>

  <%= form_tag("/create_carnival/upload_csvs", method: 'post', multipart: true) do %>

    <h4>Organizations</h4><%= file_field_tag 'organization_csv'%><br>
    <h4>Participants</h4><%= file_field_tag 'participant_csv'%> <br>
    <h4>Tools</h4><%= file_field_tag 'tool_csv'%> <br>
    <h4>Shifts</h4><%= file_field_tag 'shift_csv'%> <br>

  <%= link_to "Upload CSVs", show_diff_path, :class => 'btn btn-primary' %>
  <% end %>

</div> 