When adding a charge, please ensure that you add a detailed description. This allows us to defend the charge if and when an org protests it. Information to include would be things like who, what, where, when, and why. If Dan wants to add a charge to Delt for blowing their breaker for the second time, the coordinator on duty should add a charge to Delta Tau Delta for a blown breaker for $25 with the description "Delt plugged in too many space heaters Wednesday night because they got cold, even though they were warned against this." by Dan Miele to James Orr (swipe booth chair's ID). <br> <br> 

<%= simple_form_for @charge, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-inputs">
    <%= f.association :organization %>
    <div class = "row">
      <div class = "col-md-8" style = "padding-left:112px;">
        <%= f.association :charge_type, :input_html=> { :onchange => 
        raw("$.getJSON('/charge_types/'+"+"this.value"+",function(response){$('#charge_amount').val(response)});") } %>
      </div>
      <div class = "col-md-4" style = "padding-left:76px;">
        <%= link_to "Or create a new charge type", new_charge_type_path(from_charge: true), class: 'btn btn-primary' %>
      </div>
    </div>
    <%= f.input :amount do %>
      <div class="input-group">
  			<%= content_tag :span, "$", :class => 'input-group-addon' %>
  			<%= f.input_field :amount, :as => :string %>
      </div>
		<% end %>
    <%= f.input :description, :as => :text, textarea: "{ font-size:16px; }" %>
    <%= f.association :issuing_participant, :collection => Participant.scc %>
    <%= f.input :receiving_participant do %>
      <%= f.input_field :receiving_participant_id, as: :hidden %>
      <%= text_field_tag 'card-number-input', nil, class: 'form-control' %>
      <div id="participant-info"></div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              charges_path, :class => 'btn btn-default' %>
  </div>
<% end %>

