<% if not organization_charge_list.empty? %>
  <%- model_class = Charge -%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th class="hidden-xs"><%= t model_class.human_attribute_name(:charge_type) %></th>
        <th><%= t model_class.human_attribute_name(:amount) %></th>
        <th><%= t model_class.human_attribute_name(:charged_at) %></th>
        <th class="visible-lg"><%= t model_class.human_attribute_name(:issuing_participant) %></th>
      </tr>
    </thead>
    <tbody>
      <% organization_charge_list.each do |charge| %>
        <% if can?(:read, charge) %>
          <tr>
            <td><%= link_to t('.show', default: t('helpers.links.show')),
                            charge, class: 'btn btn-info btn-xs' %></td>
            <td class="hidden-xs"><%= charge.charge_type.name %></td>
            <td><%= number_to_currency charge.amount %></td>
            <td><%= date_and_time charge.charged_at %></td>
            <td class="visible-lg"><% unless charge.issuing_participant.nil? %><%= link_to charge.issuing_participant.name, charge.issuing_participant %><% end %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if (organization_charge_list.length == 10) %>
    <%= link_to raw('View more…'), organization_charges_path(@organization), class: 'btn btn-xs' %></h2>
<% end %>
<% else %>
  <br>
  This organization has no charges.
<% end %>
