<%- model_class = Charge -%>
<div class="page-header">
  <h1>
    Add Members to Your Organization
    <%= link_to @organization.name.possessive, @organization unless @organization.blank? %>
    <!-- <%=t '.title', :default => model_class.model_name.human.pluralize %> -->
  </h1>
</div>

<p>
  First, select your organization:
</p>

<form>
  <div style='float:left; margin-right: 8px;'>
    <div class="field">
        <select name='org_select' class='form-control''>
          <% Organization.all.to_a.each do |org_name| %>
            <option value='<%= org_name.id %>' <%= param_equals_i(:org_select, org_name.id) ? 'selected' : '' %>><%= org_name.name %></option>
          <% end %>
        </select>
    </div>
  </div>
  <br /><br />
  <br />
  <p>
    Then, upload a .csv of your members and import the file:
  </p>

  <%= form_tag charges_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br />
    <%= submit_tag "Import File", :class => "btn btn-primary" %>
  <% end %>
</form>

<br />

<p>
  The format of the .csv should look like the image below:
</p>

<div>
  <%= image_tag("format.png") %>
</div>

<%= will_paginate @charges, renderer: BootstrapPagination::Rails %>