<%- model_class = Charge -%>
<div class="page-header">
  <h1>
    <%= link_to @organization.name + raw("'s"), @organization unless @organization.blank? %>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
  </h1>
</div>

<p>
  If a row is yellow then the charge is still pending approval by an admin.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th><%= model_class.human_attribute_name(:charge_type) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:organization) unless !@organization.blank? %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:charged_at) %></th>
      <th class="visible-lg"><%= model_class.human_attribute_name(:description) %></th>
      <% if can?(:approve, Charge) %>
        <th class="hidden-xs">Approve</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @charges.each do |charge| %>
      <% if can?(:read, charge) %>
        <tr <%= raw('class="warning"') if !charge.is_approved? %>>
          <td><%= link_to "show", charge, class: 'btn btn-info btn-xs' %></td>
          <td><%= charge.charge_type.name %></td>
          <td><%= number_to_currency charge.amount %></td>
          <td><%= link_to charge.organization.name, charge.organization unless !@organization.blank? %></td>
          <td class="hidden-xs"><%= date_and_time(charge.charged_at) %></td>
          <td class="visible-lg"><%= charge.description[0..25] %><%= "…" if charge.description.length > 26 %></td>
          <% if can?(:approve, Charge) %>
            <td class="hidden-xs">
              <% unless charge.is_approved? %>
                <%= form_tag approve_charge_path(charge), method: :put do -%>
                  <%= hidden_field_tag 'url', request.original_fullpath %>
                  <%= submit_tag 'Approve', :class => 'btn btn-success btn-xs',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                <% end -%>
              <% else %>
                <%= form_tag approve_charge_path(charge), method: :put do -%>
                  <%= hidden_field_tag 'url', request.original_fullpath %>
                  <%= submit_tag 'Un-Approve', :class => 'btn btn-danger btn-xs',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                <% end -%>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if can?(:create, Charge) and @organization.blank? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
          new_charge_path,
          :class => 'btn btn-primary' %>
<% end %>
  
<span class="smtext">
  <%= will_paginate @shifts, renderer: BootstrapPagination::Rails %>
</span>
