<footer class="grid column3 invert">
  <div>
    <p>
      Spring Carnival Committee<br>
      Carnegie Mellon University<br>
      5000 Forbes Avenue<br>
      Cohon University Center, Office 310<br>
      Pittsburgh, PA 15213<br>
      412-268-5226<br>
      <br>
      <%= link_to 'Contact Us', contact_email_url %>
    </p>
    <ul>
      <li>
        <%= link_to 'Legal Info', '//www.cmu.edu/legal/', target: :blank %>
      </li>
      <li>
        <%= link_to 'www.cmu.edu', '//www.cmu.edu', target: :blank %></li>
    </ul>
    <ul>
      <li>&#169; <%= Date.today.year %> Carnegie Mellon University</li>
    </ul>
  </div>
  <nav id="nav">
    <ul>
      <li class="secondary right">
        <% if Current.user.present? %>
          <%= link_to(image_tag(gravatar_url(Current.user.eppn, 50)), profile_path, class: 'avatar') %>
          <%= link_to(Current.user.name, profile_path) %>
          <%= link_to 'Sign out', logout_path %>
        <% else %>
          <%= button_to 'Sign in', login_path, form_class: 'signIn' %>
        <% end %>
      </li>
      <%= yield :navigation %>
    </ul>
  </nav>
</footer>
