<div id="nav" class="relative">
  <ul>
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Tools", tools_url %></li>
    <li><%= link_to "People", participants_url %></li>
    <li><%= link_to "Orgs", organizations_url %></li>
    <li><%= link_to "Shifts", shifts_url %></li>
  </ul>
</div>
