<div id="nav" class="relative">
  <ul>
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Tools", tools_url %></li>
    <li><%= link_to "People", participants_url %></li>
    <li><%= link_to "Waiver", new_participant_url %></li>
    <li><%= link_to "Orgs", organizations_url %></li>
    <li><%= link_to "Shifts", shifts_url %></li>
    <li><%= link_to "Tasks", tasks_url %></li>
    <li><%= link_to "Checkin", checkin_url %></li>
    <li><%= link_to "Checkout", checkouts_url %></li>
  </ul>
</div>
<% if Rails.env.development? %>
  <div style="width: 100%; padding: 5px 0; background: green; vertical-align: center; font-size: 2em; text-align: center; color: white">
    <b>DEVELOPMENT</b>
  </div>
<% end %>
