<div class="navbar navbar-default <%= "navbar-inverse" unless Rails.env.production? %>" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 0px; padding-bottom: 0px;" href="/">
        <img src="/images/carnival_logo_nav.svg" width="40px" height="100%">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <!-- Normal Navbar LI's -->
          <li><%= link_to "Organizations", organizations_path(:type => "building") %></li>
          <% if can?(:read, Faq) %>
            <li><%= link_to "FAQs", faqs_path %></li>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if can?(:read, Charge) %>
                <li><%= link_to "Charges", charges_path %></li>
              <% end %>
 
              <% if can?(:read, Participant) %>
                <li><%= link_to "Participants", participants_path %></li>
              <% end %>
              <% if can?(:read, Shift) %>
                <li><%= link_to "Shifts", shifts_path(:type => "watch") %></li>
              <% end %>
              <% if can?(:read, Task) %>
                <li><%= link_to "Tasks", tasks_path %></li>
              <% end %>
              <li><%= link_to "Tools", tools_path %></li>
              <li><%= link_to "Store", store_items_path %></li>
              <% if can?(:downtime, OrganizationTimelineEntry) %>
                <li><%= link_to "Downtime", downtime_index_path %></li>
              <% end %>
              <% if can?(:read, Event) %>
                <li><%= link_to "Event Log", events_path %></li>
              <% end %>
              <% if !current_user.participant.is_booth_chair? %>
                <% if can?(:structural, OrganizationTimelineEntry) %>
                  <li><%= link_to "Structural Queue", structural_path %></li>
                <% end %>
                <% if can?(:electrical, OrganizationTimelineEntry) %>
                  <li><%= link_to "Electrical Queue", electrical_path %></li>
                <% end %>
              <% end %>
            </ul>
          </li>


          <% if current_user.participant.is_scc? %>
            <li class="dropdown">
              <% if is_admin? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Links<b class="caret"></b></a>
              <% end %>  
              <ul class="dropdown-menu">
                <% if can?(:create, :reports) %>
                  <li><%= link_to "Reports", reports_path %></li>
                <% end %>
                <% if is_admin? %>
                  <li><%# link_to "Create Carnival", show_uploader_path %></li>
                <% end %>
                <% if is_admin? %>
                  <li><%= link_to "Edit Carnival" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

        </ul>
        <!-- Searchbar -->
        <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search" method="get" >
          <input type="text" class="form-control" placeholder="Search..." id="query" name="query" style="width: 200%;">
        </form>
      <% end %>

      <!-- Right Navbar -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- User Account Section -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= (Rails.env.production? or Rails.env.staging?) ? current_user.participant.name : session[:name] %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'My Profile', participant_path(current_user.participant) %>
              </li>
              <% if !current_user.participant.has_signed_waiver? %>
                <li><%= link_to "Sign Waiver", new_waiver_path %></li>
              <% end %>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, :id => 'log_out' %>
              </li>
            </ul>
          </li>
        <% else %>
          <% if Rails.env.staging? or Rails.env.production? %>
            <li>
              <%= link_to "Login", main_app.user_omniauth_authorize_path(:shibboleth)%>
            </li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose a Role<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% ['Admin', 'SCC Member', 'Booth Chair', 'Participant'].each do |role| %>
                  <li>
                    <%= form_tag '/dev_login' do %>
                      <%= hidden_field_tag 'role', role %>
                      <%= submit_tag role, class: 'btn btn-xs btn-success' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
