<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container" style = "margin-left: 100px; margin-right: 100px; width: 1180px;">
      <a class="brand" style="padding-top: 0px; padding-bottom: 0px;" href="/"><img src="/boaicon.png" width="45px"></a>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <!-- Normal Navbar LI's -->
            <li><%= link_to "Organizations", organizations_path %></li>
            <li><%= link_to "Participants", participants_path %></li>
            <li><%= link_to "Tools", tools_path %></li>
            <li><%= link_to "Documents", documents_path %></li>
            <li><%= link_to "Shifts", shifts_path(:type => "watch") %></li>
            <!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Models<b class="caret"></b></a>
              <ul class="dropdown-menu" style = "padding-bottom: 0px; color:transparent;">
                <li><%= link_to "Charges", charges_path %></li>
                <li><%= link_to "Checkouts", checkouts_path %></li>
                <li><%= link_to "Documents", documents_path %></li>
                
                <li><%= link_to "Organizations", organizations_path %></li>
                <li><%= link_to "Participants", participants_path %></li>
                
                <li><%= link_to "Tasks", tasks_path %></li>
                <li><%= link_to "Tools", tools_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
            </li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Links<b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding-bottom: 0px;">
                <li><%= link_to "FAQs", faqs_path %></li>
                <li><%= link_to "Emergency Shut Down", esp_path %></li>
                <li><%= link_to "Milestones", milestones_path %></li>
              </ul>
            </li>
          </ul>
        <% end %>
        <!-- Right Navbar -->
        <ul class="nav navbar-right pull-right">
          <!-- Searchbar -->
          <% if user_signed_in? %>
            <form class="navbar-search pull-left" accept-charset="UTF-8" action="/search" method="post" >
              <input type="text" class="search-query" placeholder="Search..." id="query" name="query" style="width: 130px;  margin-top: 5px;">
              <input name="authenticity_token" type="hidden" value>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          <% end %>
          <!-- User Account Section -->
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding-bottom: 0px;">
                <li>
                  <%= link_to 'Edit Account', edit_user_registration_path %>
                </li>
                <% if current_user.has_role? :admin %>
                  <li>
                    <%= link_to 'User List', users_path %>
                  </li>
                <% end %>
                <li>
                  <%#= link_to 'Logout', destroy_user_session_path, :method=>'delete', :id => 'log_out' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
	      <%= link_to "Login", main_app.user_omniauth_authorize_path(:shibboleth)%><br />
            </li>
          <% end %>
          
        </ul>
      </div>
    </nav>
  </div>
</div>
