<div class="navbar navbar-default <%= "navbar-inverse" unless Rails.env.production? %>" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 0px; padding-bottom: 0px;" href="/">
        <img src="/images/carnival_logo_nav.svg" width="40px">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <!-- Normal Navbar LI's -->
          <li><%= link_to "Organizations", organizations_path %></li>
          <li><%= link_to "Tools", tools_path %></li>
          <li><%= link_to "Shifts", shifts_path(:type => "watch") %></li>
          <!--             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Models<b class="caret"></b></a>
            <ul class="dropdown-menu" style = "padding-bottom: 0px; color:transparent;">
              <li><%= link_to "Documents", documents_path %></li>
              
              <li><%= link_to "Organizations", organizations_path %></li>
              <li><%= link_to "Participants", participants_path %></li>
              
              <li><%= link_to "Tasks", tasks_path %></li>
              <li><%= link_to "Tools", tools_path %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Links<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Participants", participants_path %></li>
              <li><%= link_to "Charges", charges_path %></li>
              <li><%= link_to "Documents", documents_path %></li>
              <li><%= link_to "FAQs", faqs_path %></li>
              <li><%= link_to "Emergency Shut Down", esp_path %></li>
              <li><%= link_to "Milestones", milestones_path %></li>
            </ul>
          </li>
        </ul>
        <!-- Searchbar -->
        <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search" method="post" >
          <input type="text" class="form-control" placeholder="Search..." id="query" name="query" style="width: 100px;">
          <input name="authenticity_token" type="hidden" value>
        </form>
      <% end %>

      <!-- Right Navbar -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- User Account Section -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.participant.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Logout', destroy_user_session_path, :id => 'log_out' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <% if Rails.env.production? %>
              <%= link_to "Login", main_app.user_omniauth_authorize_path(:shibboleth)%>
            <% else %>
              <%= service_login(User.find_by_email('rcrown@andrew.cmu.edu')) %>
              <% session[:name] = User.find_by_email('rcrown@andrew.cmu.edu').name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
