<% if !@current_shifts_sidebar.blank? or !@upcoming_shifts_sidebar.blank? %>
  <% cache ['shift_sidebar', 'current', @current_shifts_sidebar, 'upcoming', @upcoming_shifts_sidebar] do%>
    <div class="panel panel-default">
      <div class="panel-heading">
        Shifts
      </div>
      <div class="panel-body">
        <table class="table table-condensed" style="margin-bottom: 0;">
          <thead>
            <th>Current</th>
            <th style="text-align: right;">Ends at</th>
          </thead>
          <tbody>
            <% cache ['current_sidebar', @current_shifts_sidebar] do %>
              <% @current_shifts_sidebar.each do |shift| %>
                <tr class="success sidebar-tooltip" id="" data-toggle="tooltip" data-placement="left" title="<%= shift.shift_type.name %><%=h ' - ' + shift.description + ' (' + shift.required_number_of_participants.to_s + ')'  unless shift.description.blank? %>">
                  <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                    <% if (shift.shift_type.name == "Coordinator Shift") %>
                      <%= link_to shift.shift_participants.first.participant.name, shift unless shift.shift_participants.blank? %>
                    <% else %>
                      <%= link_to shift.organization.short_name, shift unless shift.organization.blank? %>
                    <% end %>
                  </td>
                  <td style="text-align: right;"><%= time shift.ends_at %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <table class="table table-condensed table-striped" style="margin-bottom: 0;">
          <thead>
            <th>Upcoming</th>
            <th style="text-align: right;">Starts at</th>
          </thead>
          <tbody>
            <% cache ['upcoming_sidebar', @upcoming_shifts_sidebar] do %>
              <% @upcoming_shifts_sidebar.each do |shift| %>
                <tr class="warning sidebar-tooltip" id="" data-toggle="tooltip" data-placement="left" title="<%= shift.shift_type.name %><%=h ' - ' + shift.description + ' (' + shift.required_number_of_participants.to_s + ')'  unless shift.description.blank? %>">
                  <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                    <% if (shift.shift_type.name == "Coordinator Shift") %>
                      <%= link_to shift.shift_participants.first.participant.name, shift unless shift.shift_participants.blank? %>
                    <% else %>
                      <%= link_to shift.organization.short_name, shift unless shift.organization.blank? %>
                     <% end %>
                  </td>
                  <td style="text-align: right;"><%= time shift.starts_at %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.participant.is_scc? %>
  <% if !@tasks_sidebar.blank? %>
    <% cache ['tasks_sidebar', @tasks_sidebar] do %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Events/Tasks
        </div>
        <div class="panel-body">
          <table class="table table-condensed" style="margin-bottom: 0;">
            <thead>
              <th>Title</th>
              <th style="text-align: right;">Due By</th>
            </thead>
            <tbody>
              <% @tasks_sidebar.each do |task| %>
                <tr class="sidebar-tooltip" data-toggle="tooltip" data-placement="left" title="<%=h task.name %>:</br></br><%=h task.description %>">
                  <td style="max-width: 103px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><%=h task.name %></td>
                  <td style="text-align: right;"><%= time task.due_at%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <%# Change to true to enable downtime %>
  <% if false %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Downtime
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <th style="text-align: center;">Org</th>
            <th style="text-align: center;">Left</th>
            <th></th>
          </thead>
          <tbody>
            <% @downtime_sidebar.each do |entry| %>
              <tr <%= raw('class="danger"') if entry.organization.remaining_downtime < 0 %>>
                <td style="text-align: center;"><%= entry.organization.short_name %></td>
                <td style="text-align: center;"><span id="countdown"><%= entry.organization.remaining_downtime / 60 / 60 %>:<%= (entry.organization.remaining_downtime / 60) - ( (entry.organization.remaining_downtime / 60 / 60) * 60 ) %></span></td>
                <td><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Stop', class: 'btn btn-xs btn-danger' %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div style="width: 100%; height: 0px; clear: both; border-top: 1px solid #dddddd;"></div>
        <h5>Start Downtime:</h5>
        <%= simple_form_for OrganizationTimelineEntry.new do |f| %>
          <%= f.input_field :organization_id, :as => :select, :collection => Organization.all %>
          <div style="width: 100%; height: 5px; clear: both;"></div>
          <%= hidden_field_tag 'url', request.original_fullpath %>
          <div style="width: 100%; height: 10px; clear: both;"></div>
          <%= f.submit 'Downtime', :class => "btn btn-primary", :style => "width: 100%" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%# Change to true to enable queues %>
  <% if false %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Queues
      </div>
      <div class="panel-body">
        <table class="table table-condensed" style="width: 50%; float: left; border-right: 1px solid #dddddd;">
          <thead>
            <th style="text-align: center;">Structural</th>
          </thead>
          <tbody>
            <% @structural_queue_sidebar.each do |entry| %>
              <tr class="sidebar-popover" data-toggle="popover" data-placement="left" title="Entered at <%= date_and_time entry.started_at %>" data-content='<%=h entry.description %></br><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Remove', class: 'btn btn-xs btn-danger' %><% end %>'>
                <td style="text-align: center;"><%= entry.organization.short_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class="table table-condensed" style="width: 50%; border-left: 1px solid #dddddd;">
          <thead>
            <th style="text-align: center;">Electrical</h>
          </thead>
          <tbody>
            <% @electrical_queue_sidebar.each do |entry| %>
              <tr class="sidebar-popover" data-toggle="popover" data-placement="left" title="Entered at <%= date_and_time entry.started_at %>" data-content='<%=h entry.description %></br><%= form_tag end_organization_timeline_entry_path(entry), method: :put do %><%= hidden_field_tag 'url', request.original_fullpath %><%= submit_tag 'Remove', class: 'btn btn-xs btn-danger' %><% end %>'>
                <td style="text-align: center;"><%= entry.organization.short_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div style="width: 100%; height: 0px; clear: both; border-top: 1px solid #dddddd;"></div>
        <h5>Add to Queue:</h5>
        <%= simple_form_for OrganizationTimelineEntry.new do |f| %>
          <%= f.input_field :organization_id, :as => :select, :collection => Organization.all %>
          <div style="width: 100%; height: 5px; clear: both;"></div>
          <%= f.input_field :description, :as => :string %>
          <%= hidden_field_tag 'url', request.original_fullpath %>
          <div style="width: 100%; height: 10px; clear: both;"></div>
          <div class="btn-group" style="width: 100%;">
            <%= f.submit 'Structural', :class => "btn btn-default", :style => "width: 50%;" %>
            <%= f.submit 'Electrical', :class => "btn btn-default", :style => "width: 50%;" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

