<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "Dev - " unless Rails.env.production? %><%= content_for?(:title) ? yield(:title) : "SCC Binder" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boa" %>">
    <%= render 'favicon' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>" role="document" style>
    <%= render 'layouts/navigation' %>
    <div class="container" role="main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='main-content-div'>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
